

// Encabezados
.header-debida{
    font-weight: bold;

}

// Grid
.row{
    padding-right: 15px !important;
    padding-left: 15px !important;
}

//sin padding
.without-padding{
    padding-left: 0% !important;
    padding-right: 0% !important;
}

.label-title{
    font-weight: bold !important;
    font-size: 17px !important;
}

h3 {
    margin: 0 0 10px;
  }
  
  pre {
    background-color: #f5f5f5;
    padding: 15px;
  }


  /***************Boton file**********************/
  .btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}


/********************ENCABEZADO**************************/

.table thead th {
    vertical-align: top !important;
    border-bottom:1pt solid gray;
    background-color: #C1D2DE;
}

/* Animacion SPINNER */
.spinner {
    margin: 0;  
    text-align: center;
    margin-top: 5%;
  }
  
//   .spinner > div {
//     width: 18px;
//     height: 18px;
//     background-color: #333;
//     border-radius: 100%;
//     display: inline-block;
//     -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
//     animation: bouncedelay 1.4s infinite ease-in-out;
//     -webkit-animation-fill-mode: both;
//     animation-fill-mode: both
//   }
  
//   .spinner .bounce1 {
//     -webkit-animation-delay: -.32s;
//     animation-delay: -.32s
//   }
  
//   .spinner .bounce2 {
//     -webkit-animation-delay: -.16s;
//     animation-delay: -.16s
//   }


  .example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }