
<div *ngIf="parte">
    <h2><span jhiTranslate="debidadefensaApp.parte.detail.title">Parte</span> {{parte.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="debidadefensaApp.parte.nombre">Nombre</span></dt>
        <dd>
            <span>{{parte.nombre}}</span>
        </dd>
        <dt><span jhiTranslate="debidadefensaApp.parte.expediente">Expediente</span></dt>
        <dd>
            <div *ngIf="parte.expedienteId">
                <a [routerLink]="['/expediente-my-suffix', parte.expedienteId]">{{parte.expedienteId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="debidadefensaApp.parte.tipoParte">Tipo Parte</span></dt>
        <dd>
            <div *ngIf="parte.tipoParteId">
                <a [routerLink]="['/tipo-parte-my-suffix', parte.tipoParteId]">{{parte.tipoParteId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'parte-my-suffix/'+ parte.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
