
<div *ngIf="expedienteAsociado">
    <h2><span jhiTranslate="debidadefensaApp.expedienteAsociado.detail.title">Expediente Asociado</span> {{expedienteAsociado.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="debidadefensaApp.expedienteAsociado.numeroExpediente">Numero Expediente</span></dt>
        <dd>
            <span>{{expedienteAsociado.numeroExpediente}}</span>
        </dd>
        <dt><span jhiTranslate="debidadefensaApp.expedienteAsociado.instancia">Instancia</span></dt>
        <dd>
            <span>{{expedienteAsociado.instancia}}</span>
        </dd>
        <dt><span jhiTranslate="debidadefensaApp.expedienteAsociado.organocompetente">Organocompetente</span></dt>
        <dd>
            <span>{{expedienteAsociado.organocompetente}}</span>
        </dd>
        <dt><span jhiTranslate="debidadefensaApp.expedienteAsociado.archivo">Archivo</span></dt>
        <dd>
            <span>{{expedienteAsociado.archivo}}</span>
        </dd>
        <dt><span jhiTranslate="debidadefensaApp.expedienteAsociado.observaciones">Observaciones</span></dt>
        <dd>
            <span>{{expedienteAsociado.observaciones}}</span>
        </dd>
        <dt><span jhiTranslate="debidadefensaApp.expedienteAsociado.fechaSentencia">Fecha Sentencia</span></dt>
        <dd>
            <span>{{expedienteAsociado.fechaSentencia | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="debidadefensaApp.expedienteAsociado.expediente">Expediente</span></dt>
        <dd>
            <div *ngIf="expedienteAsociado.expedienteId">
                <a [routerLink]="['/expediente-my-suffix', expedienteAsociado.expedienteId]">{{expedienteAsociado.expedienteId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="debidadefensaApp.expedienteAsociado.estatusExpedienteAsociado">Estatus Expediente Asociado</span></dt>
        <dd>
            <div *ngIf="expedienteAsociado.estatusExpedienteAsociadoId">
                <a [routerLink]="['/estatus-my-suffix', expedienteAsociado.estatusExpedienteAsociadoId]">{{expedienteAsociado.estatusExpedienteAsociadoId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'expediente-asociado-my-suffix/'+ expedienteAsociado.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
