<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myClienteLabel" jhiTranslate="debidadefensaApp.cliente.home.createOrEditLabel">Create or edit a Cliente</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!cliente.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="cliente.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="debidadefensaApp.cliente.nombre" for="field_nombre">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="field_nombre"
                [(ngModel)]="cliente.nombre" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="debidadefensaApp.cliente.telefonos" for="field_telefonos">Telefonos</label>
            <input type="text" class="form-control" name="telefonos" id="field_telefonos"
                [(ngModel)]="cliente.telefonos" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="debidadefensaApp.cliente.correoElectronico" for="field_correoElectronico">Correo Electronico</label>
            <input type="text" class="form-control" name="correoElectronico" id="field_correoElectronico"
                [(ngModel)]="cliente.correoElectronico" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="debidadefensaApp.cliente.domicilio" for="field_domicilio">Domicilio</label>
            <input type="text" class="form-control" name="domicilio" id="field_domicilio"
                [(ngModel)]="cliente.domicilio" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="debidadefensaApp.cliente.rfc" for="field_rfc">Rfc</label>
            <input type="text" class="form-control" name="rfc" id="field_rfc"
                [(ngModel)]="cliente.rfc" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="debidadefensaApp.cliente.referencia" for="field_referencia">Referencia</label>
            <input type="text" class="form-control" name="referencia" id="field_referencia"
                [(ngModel)]="cliente.referencia" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
