<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTramiteGeneralLabel" jhiTranslate="debidadefensaApp.tramiteGeneral.home.createOrEditLabel">Create or edit a Tramite General</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <!--<div class="form-group" [hidden]="!tramiteGeneral.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="tramiteGeneral.id" readonly />
        </div>-->
        <div class="form-group row">
            <label class="form-control-label col-md-2 text-right" jhiTranslate="debidadefensaApp.tramiteGeneral.cliente" for="field_cliente">Cliente</label>
            <select [disabled]="tramiteGeneral.id" class="form-control col-md-10" id="field_cliente" name="cliente" maxlength="250" required [(ngModel)]="tramiteGeneral.clienteId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="clienteOption.id" *ngFor="let clienteOption of clientes; trackBy: trackClienteById">{{clienteOption.nombre}}</option>
            </select>
        </div>
        <div class="form-group row">
            <label class="form-control-label col-md-2 text-right" jhiTranslate="debidadefensaApp.tramiteGeneral.numeroTramite" for="field_numeroTramite">Numero Tramite</label>
            <input type="text" class="form-control col-md-10" name="numeroTramite" id="field_numeroTramite" required maxlength="250"
                [(ngModel)]="tramiteGeneral.numeroTramite" />
        </div>
        <div class="form-group row">
            <label class="form-control-label col-md-2 text-right" jhiTranslate="debidadefensaApp.tramiteGeneral.titular" for="field_titular">Titular</label>
            <input type="text" class="form-control col-md-10" name="titular" id="field_titular" required maxlength="250"
                [(ngModel)]="tramiteGeneral.titular" />
        </div>        
        <div class="form-group row">
            <label class="form-control-label col-md-2 text-right"  for="field_estatusTramiteGeneral">Estatus</label>
            <select class="form-control col-md-10" id="field_estatusTramiteGeneral" name="estatusTramiteGeneral" [(ngModel)]="tramiteGeneral.estatusTramiteGeneralId" required>
                <option [ngValue]="null"></option>
                <option [ngValue]="estatusOption.id" *ngFor="let estatusOption of estatustramitegenerals; trackBy: trackEstatusById">{{estatusOption.descripcion}}</option>
            </select>
        </div>
        <div class="form-group row">
            <label class="form-control-label col-md-2 text-right" jhiTranslate="debidadefensaApp.tramiteGeneral.dependencia" for="field_dependencia">Dependencia</label>
            <input type="text" class="form-control col-md-10" name="dependencia" id="field_dependencia" maxlength="250"
                [(ngModel)]="tramiteGeneral.dependencia" />
        </div>
       
        <div class="form-group row">
            <label class="form-control-label col-md-2 text-right" jhiTranslate="debidadefensaApp.tramiteGeneral.tipoTramite" for="field_tipoTramite">Tipo Tramite</label>
            <input type="text" class="form-control col-md-10" name="tipoTramite" id="field_tipoTramite" maxlength="250"
                [(ngModel)]="tramiteGeneral.tipoTramite" />
        </div>
        <div class="form-group row">            
            <label class="form-control-label col-md-2 text-right" jhiTranslate="debidadefensaApp.tramiteGeneral.fechaIngreso" for="field_fechaIngreso">Fecha Ingreso</label>
            <div class="input-group col-md-2">
                <input id="field_fechaIngreso" type="text" class="form-control" name="fechaIngreso" ngbDatepicker  #fechaIngresoDp="ngbDatepicker" [(ngModel)]="tramiteGeneral.fechaIngreso"/>
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="fechaIngresoDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        
            <label class="form-control-label col-md-2 text-right" jhiTranslate="debidadefensaApp.tramiteGeneral.fechaResolucion" for="field_fechaResolucion">Fecha Resolucion</label>
            <div class="input-group col-md-2">
                <input id="field_fechaResolucion" type="text" class="form-control" name="fechaResolucion" ngbDatepicker  #fechaResolucionDp="ngbDatepicker" [(ngModel)]="tramiteGeneral.fechaResolucion"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="fechaResolucionDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        
            <label class="form-control-label col-md-2 text-right" jhiTranslate="debidadefensaApp.tramiteGeneral.fechaNotificacion" for="field_fechaNotificacion">Fecha Notificacion</label>
            <div class="input-group col-md-2">
                <input id="field_fechaNotificacion" type="text" class="form-control" name="fechaNotificacion" ngbDatepicker  #fechaNotificacionDp="ngbDatepicker" [(ngModel)]="tramiteGeneral.fechaNotificacion"/>
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="fechaNotificacionDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>            
        </div>

        <!--<div class="form-group">
            <label class="form-control-label" jhiTranslate="debidadefensaApp.tramiteGeneral.archivo" for="field_archivo">Archivo</label>
            <input type="text" class="form-control" name="archivo" id="field_archivo"
                [(ngModel)]="tramiteGeneral.archivo" />
        </div>-->
        <div class="form-group row">
            <label class="form-control-label col-md-2 text-right" jhiTranslate="debidadefensaApp.tramiteGeneral.observaciones" for="field_observaciones">Observaciones</label>
            <input type="text" class="form-control col-md-10" name="observaciones" id="field_observaciones" maxlength="250"
                [(ngModel)]="tramiteGeneral.observaciones" />
        </div>

        <!--
        <div class="form-group row">
            <label class="form-control-label col-md-2 text-right" jhiTranslate="debidadefensaApp.tramiteGeneral.tramiteGeneralAsociados" for="field_tramiteGeneralAsociados">Tramite General Asociados</label>
            <select class="form-control col-md-10" id="field_tramiteGeneralAsociados" multiple name="tramiteGeneralAsociados" [(ngModel)]="tramiteGeneral.tramiteGeneralAsociados">
                <option [ngValue]="getSelected(tramiteGeneral.tramiteGeneralAsociados, tramiteAsociadoOption)" *ngFor="let tramiteAsociadoOption of tramiteasociados; trackBy: trackTramiteAsociadoById">{{tramiteAsociadoOption.id}}</option>
            </select>
        </div>-->

    
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
