<div>
    <h2 class="text-center header-debida">
        <span >TRÁMITES GENERALES</span>        
    </h2>    
    <h2>
        <span  style="font-weight: bold"></span>
        <button class="btn btn-primary float-right jh-create-entity create-tramite-general" 
            [routerLink]="['/', { outlets: { popup: 'tramite-general-new/'+ cliente.id } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  >
            Nuevo Tramite General
            </span>
        </button>
        <br>
        <span *ngIf="cliente.id">Cliente: {{cliente.nombre}}</span>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'debidadefensaApp.tramiteGeneral.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-remove"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="tramiteGenerals">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">            
            <th><span>Cliente</span> <span class="fa"></span></th>
            <th><span jhiTranslate="debidadefensaApp.tramiteGeneral.titular">Titular</span> <span class="fa"></span></th>
            <th><span jhiTranslate="debidadefensaApp.tramiteGeneral.dependencia">Dependencia</span> <span class="fa"></span></th>            
            <th><span>Tipo de Trámite</span> <span class="fa"></span></th>
            <th><span>Estatus</span> <span class="fa"></span></th>
            <!-- <th><span>Fecha de Ingreso</span> <span class="fa"></span></th> -->
            <th><span >Documentos</span> <span class="fa"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tramiteGeneral of tramiteGenerals ;trackBy: trackId">
                    <td><a [routerLink]="['/', { outlets: { popup: 'cliente/'+ tramiteGeneral.clienteId + '/edit'} }]">{{tramiteGeneral.clienteNombre}}</a></td>              
                <td><a [routerLink]="['/', { outlets: { popup: 'tramite-general/'+ tramiteGeneral.id + '/edit'} }]">{{tramiteGeneral.titular}}</a></td>
                
                <td>{{tramiteGeneral.dependencia}}</td>
                
                <td>{{tramiteGeneral.tipoTramite}}</td>
                <td>{{tramiteGeneral.estatusDescripcion}}</td>

                <!-- <td>{{tramiteGeneral.fechaIngreso | date:'mediumDate'}}</td> -->
                <td>{{tramiteGeneral.totalDocumentos}}</td>
                <td class="text-right">
                        <button type="submit"
                                [routerLink]="['/tramite-general', tramiteGeneral.id ]"
                                class="btn btn-primary btn-sm">
                                <span class="fa fa-pencil"></span>
                                <span class="d-none d-md-inline" >Editar</span>
                        </button>
                        <!--<button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tramite-general/'+ tramiteGeneral.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>-->
                        <button type="submit" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_DIRECTOR']"
                                [routerLink]="['/', { outlets: { popup: 'tramite-general/'+ tramiteGeneral.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="tramiteGenerals && tramiteGenerals.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
