<form name="editForms" role="form" novalidate (ngSubmit)="save()" #editForms="ngForm">
        <div class="modal-header">
            <h4 class="modal-title" id="myTramiteGeneralLabel" style="font-weight: bold" jhiTranslate="debidadefensaApp.tramiteGeneral.home.createOrEditLabel">Create or edit a Tramite General</h4>
            <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                    (click)="clear()">&times;</button> -->
            
        </div>
        <div class="modal-body">
            <jhi-alert-error></jhi-alert-error>
            <!--<div class="form-group" [hidden]="!tramiteGeneral.id">
                <label for="id" jhiTranslate="global.field.id">ID</label>
                <input type="text" class="form-control" id="id" name="id"
                       [(ngModel)]="tramiteGeneral.id" readonly />
            </div>-->
            <div class="form-group row">
                <label class="form-control-label col-md-2 text-right" jhiTranslate="debidadefensaApp.tramiteGeneral.cliente" for="field_cliente">Cliente</label>
                <select [disabled]="tramiteGeneral.id" class="form-control col-md-10" id="field_cliente" name="cliente" [(ngModel)]="tramiteGeneral.clienteId" >
                    <option [ngValue]="null"></option>
                    <option [ngValue]="clienteOption.id" *ngFor="let clienteOption of clientes; let i = index">{{clienteOption.nombre}}</option>
                </select>
            </div>
            <div class="form-group row">
                <label class="form-control-label col-md-2 text-right" jhiTranslate="debidadefensaApp.tramiteGeneral.numeroTramite" for="field_numeroTramite">Numero Tramite</label>
                <input type="text" class="form-control col-md-10" name="numeroTramite" id="field_numeroTramite"
                    [(ngModel)]="tramiteGeneral.numeroTramite" />
            </div>
            <div class="form-group row">
                <label class="form-control-label col-md-2 text-right" jhiTranslate="debidadefensaApp.tramiteGeneral.titular" for="field_titular">Titular</label>
                <input type="text" class="form-control col-md-10" name="titular" id="field_titular"
                    [(ngModel)]="tramiteGeneral.titular" />
            </div>        
            <div class="form-group row">
                <label class="form-control-label col-md-2 text-right" jhiTranslate="debidadefensaApp.tramiteGeneral.estatusTramiteGeneral" for="field_estatusTramiteGeneral">Estatus Tramite General</label>
                <select class="form-control col-md-10" id="field_estatusTramiteGeneral" name="estatusTramiteGeneral" [(ngModel)]="tramiteGeneral.estatusTramiteGeneralId">
                    <option [ngValue]="null"></option>
                    <option [ngValue]="estatusOption.id" *ngFor="let estatusOption of estatustramitegenerals; trackBy: trackEstatusById">{{estatusOption.descripcion}}</option>
                </select>
            </div>
            <div class="form-group row">
                <label class="form-control-label col-md-2 text-right" jhiTranslate="debidadefensaApp.tramiteGeneral.dependencia" for="field_dependencia">Dependencia</label>
                <input type="text" class="form-control col-md-10" name="dependencia" id="field_dependencia"
                    [(ngModel)]="tramiteGeneral.dependencia" />
            </div>
           
            <div class="form-group row">
                <label class="form-control-label col-md-2 text-right" jhiTranslate="debidadefensaApp.tramiteGeneral.tipoTramite" for="field_tipoTramite">Tipo Tramite</label>
                <input type="text" class="form-control col-md-10" name="tipoTramite" id="field_tipoTramite"
                    [(ngModel)]="tramiteGeneral.tipoTramite" />
            </div>
            <div class="form-group row">            
                <label class="form-control-label col-md-2 text-right" jhiTranslate="debidadefensaApp.tramiteGeneral.fechaIngreso" for="field_fechaIngreso">Fecha Ingreso</label>
                <div class="input-group col-md-2">
                    <input id="field_fechaIngreso" type="text" class="form-control" name="fechaIngreso" ngbDatepicker  #fechaIngresoDp="ngbDatepicker" [(ngModel)]="tramiteGeneral.fechaIngreso"/>
                    <span class="input-group-append">
                        <button type="button" class="btn btn-secondary" (click)="fechaIngresoDp.toggle()"><i class="fa fa-calendar"></i></button>
                    </span>
                </div>
            
                <label class="form-control-label col-md-2 text-right" jhiTranslate="debidadefensaApp.tramiteGeneral.fechaResolucion" for="field_fechaResolucion">Fecha Resolucion</label>
                <div class="input-group col-md-2">
                    <input id="field_fechaResolucion" type="text" class="form-control" name="fechaResolucion" ngbDatepicker  #fechaResolucionDp="ngbDatepicker" [(ngModel)]="tramiteGeneral.fechaResolucion"
                    />
                    <span class="input-group-append">
                        <button type="button" class="btn btn-secondary" (click)="fechaResolucionDp.toggle()"><i class="fa fa-calendar"></i></button>
                    </span>
                </div>
            
                <label class="form-control-label col-md-2 text-right" jhiTranslate="debidadefensaApp.tramiteGeneral.fechaNotificacion" for="field_fechaNotificacion">Fecha Notificacion</label>
                <div class="input-group col-md-2">
                    <input id="field_fechaNotificacion" type="text" class="form-control" name="fechaNotificacion" ngbDatepicker  #fechaNotificacionDp="ngbDatepicker" [(ngModel)]="tramiteGeneral.fechaNotificacion"
                    />
                    <span class="input-group-append">
                        <button type="button" class="btn btn-secondary" (click)="fechaNotificacionDp.toggle()"><i class="fa fa-calendar"></i></button>
                    </span>
                </div>            
            </div>
    
            <!--<div class="form-group">
                <label class="form-control-label" jhiTranslate="debidadefensaApp.tramiteGeneral.archivo" for="field_archivo">Archivo</label>
                <input type="text" class="form-control" name="archivo" id="field_archivo"
                    [(ngModel)]="tramiteGeneral.archivo" />
            </div>-->
            <div class="form-group row">
                <label class="form-control-label col-md-2 text-right" jhiTranslate="debidadefensaApp.tramiteGeneral.observaciones" for="field_observaciones">Observaciones</label>
                <input type="text" class="form-control col-md-10" name="observaciones" id="field_observaciones"
                    [(ngModel)]="tramiteGeneral.observaciones" />
            </div>
    
            <!--
            <div class="form-group row">
                <label class="form-control-label col-md-2 text-right" jhiTranslate="debidadefensaApp.tramiteGeneral.tramiteGeneralAsociados" for="field_tramiteGeneralAsociados">Tramite General Asociados</label>
                <select class="form-control col-md-10" id="field_tramiteGeneralAsociados" multiple name="tramiteGeneralAsociados" [(ngModel)]="tramiteGeneral.tramiteGeneralAsociados">
                    <option [ngValue]="getSelected(tramiteGeneral.tramiteGeneralAsociados, tramiteAsociadoOption)" *ngFor="let tramiteAsociadoOption of tramiteasociados; trackBy: trackTramiteAsociadoById">{{tramiteAsociadoOption.id}}</option>
                </select>
            </div>-->

             <!--ARCHIVOS-->
             <div class="form-group row" style="border-top:1px solid #474a63; padding-top: 20px">            
                    <div class="row col-md-12 text-center" style="margin-right: 0px; margin-left: 0px;"> 
                        <div class="col-md-12" style="height: 40px;">
                            <span class="col-md-12 text-center label-title">DOCUMENTOS</span>       
                            <button class="btn btn-secondary btn-sm"                                 
                                [routerLink]="['/', { outlets: { popup: 'documentos-new/' + tramiteGeneral.id + '/' + tipoServicio + '/' + tramiteGeneral.clienteId } }]">
                                <span class="fa fa-plus"></span>
                                
                            </button>
                        </div>
                    </div>
                    <div class="row col-md-12 text-center" style="margin-right: 0px; margin-left: 0px;">
                        <div class="table-responsive" *ngIf="documentos">
                            <table class="table table-striped">
                                <thead>
                                <tr>                            
                                <th><span >Nombre</span></th>
                                <th><span jhiTranslate="debidadefensaApp.documentos.fecha">Fecha</span></th>
                                <th><span jhiTranslate="debidadefensaApp.documentos.descripcion">Descripcion</span></th>                            
                                <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let documentos of documentos ; let i = index">                                
                                    <td>{{documentos.nombreDocumento}}</td>
                                    <td>{{documentos.fecha | date:'mediumDate'}}</td>
                                    <td>{{documentos.descripcion}}</td>                                
                                    <td class="text-right">
                                        <div class="btn-group flex-btn-group-container">  
                                            <button type="button" (click)="getFile(documentos.nombreDocumento, tramiteGeneral.clienteId, tipoServicio)"
                                                    class="btn btn-primary btn-sm">
                                                <span class="fa fa-download"></span>
                                                <span class="d-none d-md-inline" >Descargar</span>
                                            </button>                                
                                            <button type="submit"
                                                    [routerLink]="['/', { outlets: { popup: 'documentos/'+ documentos.id + '/delete'} }]"
                                                    replaceUrl="true"
                                                    queryParamsHandling="merge"
                                                    class="btn btn-danger btn-sm">
                                                <span class="fa fa-remove"></span>
                                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            <!-- COSTOS Y PAGOS -->
            <div *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_DIRECTOR']" class="form-group row" style="border-top: 1px solid #474a63; padding-top: 20px">
                <div class="row col-md-12 text-center" style="margin-right: 0px; margin-left: 0px;">
                    <div class="col-md-12" style="height: 40px;">
                        <span class="text-center label-title" style="font-weight: bold">COSTOS Y PAGOS</span>                    
                    </div>                 
                    <div class="row col-md-4">
                        <h4 class="form-control-label col-md-8 text-right" >Costos Totales</h4>
                        <h4 class="form-control-label col-md-4 text-left">{{totalCostos}}</h4>
                    </div>
                    <div class="row col-md-4">
                        <h4 class="form-control-label col-md-8 text-right" >Pagos Totales</h4>
                        <h4 class="form-control-label col-md-4 text-left" >{{totalPagos}}</h4>
                    </div>
                    <div class="row col-md-4">
                        <h4 class="form-control-label col-md-8 text-right" >Deuda Total</h4>
                        <h4 class="form-control-label col-md-4 text-left" >{{totalCostos - totalPagos}}</h4>
                    </div> 
                    <button type="submit" 
                            [routerLink]="['../costo-servicio', tramiteGeneral.id, tipoServicio  ]"      
                            replaceUrl="true"
                            queryParamsHandling="merge"
                            class="btn btn-secondary btn-sm">
                        <span class="fa fa-eye"></span>                
                    </button> 
                </div>
            </div>    
            
            <!-- Asociaciones y Fechas -->
        <div class="form-group row" style="border-top:1px solid #474a63; padding-top: 20px">            
                <div class="row col-md-6 text-center" style="margin-right: 0px; margin-left: 0px;">  
                    <div class="col-md-12" style="height: 40px;">
                        <span class="col-md-12 text-center label-title" style="font-weight: bold">Trámites generales asociados</span>       
                        <button class="btn btn-secondary btn-sm"  
                                [routerLink]="['/', { outlets: { popup: 'tramite-asociado/'+ tramiteGeneral.id + '/' + tipoServicio + '/edit'} }]" >
                            <span class="fa fa-plus"></span>
                            
                        </button>
                    </div>
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse">
                                        <th><span >Cliente</span> </th>                        
                                        <th><span jhiTranslate="debidadefensaApp.tramiteGeneral.titular">Titular</span> </th>                       
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let tramiteGeneral of tramiteGenerals ; let i = index">
                                        <td>{{tramiteGeneral.clienteNombre}}</td> 
                                        <td>{{tramiteGeneral.titular}}</td> 
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row col-md-6 text-center" style="margin-right: 0px; margin-left: 0px;">
                    <div class="col-md-12" style="height: 40px;">
                        <span class="text-center label-title" style="font-weight: bold">Fechas</span>
                        <button class="btn btn-secondary btn-sm" 
                                [routerLink]="['/', { outlets: { popup: 'fechas-servicio-newby/' + tramiteGeneral.id + '/' + tipoServicio } }]">
                            <span class="fa fa-plus"></span>                        
                        </button>
                    </div>
                    <div class="table-responsive" >
                            <table class="table table-striped">
                                <thead>
                                <tr>                                
                                    <th><span jhiTranslate="debidadefensaApp.fechasServicio.fecha">Fecha</span></th>
                                    <th><span jhiTranslate="debidadefensaApp.fechasServicio.descripcion">Descripcion</span></th>                            
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let fechasServicio of fechasServicios ; let i = index">
                                    <td>{{fechasServicio.fecha | date:'mediumDate'}}</td>
                                    <td>{{fechasServicio.descripcion}}</td>                                
                                    <td class="text-right">
                                        <div class="btn-group flex-btn-group-container">                                      
                                            <button type="submit"
                                                    [routerLink]="['/', { outlets: { popup: 'fechas-servicio/'+ fechasServicio.id + '/delete'} }]"
                                                    replaceUrl="true"
                                                    queryParamsHandling="merge"
                                                    class="btn btn-danger btn-sm">
                                                <span class="fa fa-remove"></span>
                                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                </div>
            </div>        
        </div>
        <div class="modal-footer">
            <button type="submit"                                          
                    [routerLink]="['/tramite-general-usuario', tramiteGeneral.clienteId ]"
                    class="btn btn-info">            
                <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>
            <!--<button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
                <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
            </button> -->
            <button type="submit" [disabled]="editForms.form.invalid || isSaving" class="btn btn-primary">
                <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
            </button>
        </div>
    </form>
    