<form name="agendaForm">
    <div class="modal-header">
        <h4 class="modal-title">AGENDA</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">        
      <div class="row text-center">
        <div class="col-md-4">
          <div class="btn-group">
            <div
              (click)="cargaFechas()"
              class="btn btn-primary"
              mwlCalendarPreviousView
              [view]="view"
              [(viewDate)]="viewDate"
              (viewDateChange)="activeDayIsOpen = false">
              Anterior
            </div>
            <div
              (click)="cargaFechas()"
              class="btn btn-outline-secondary"
              mwlCalendarToday
              [(viewDate)]="viewDate">
              Actual
            </div>
            <div
              (click)="cargaFechas()"
              class="btn btn-primary"
              mwlCalendarNextView
              [view]="view"
              [(viewDate)]="viewDate"
              (viewDateChange)="activeDayIsOpen = false">
              Siguiente
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'es' }}</h3>
        </div>
        <div class="col-md-4">
          <div class="btn-group">
            <div
              class="btn btn-primary"
              (click)="view = 'month'"
              [class.active]="view === 'month'">
              Mes
            </div>
            <div
              class="btn btn-primary"
              (click)="view = 'week'"
              [class.active]="view === 'week'">
              Semana
            </div>
            <div
              class="btn btn-primary"
              (click)="view = 'day'"
              [class.active]="view === 'day'">
              Dia
            </div>
          </div>
        </div>
      </div>
      <br>
      <div [ngSwitch]="view">
          <mwl-calendar-month-view
            *ngSwitchCase="'month'"
            [viewDate]="viewDate"
            [events]="events"
            [refresh]="refresh"
            [activeDayIsOpen]="activeDayIsOpen"
            (dayClicked)="dayClicked($event.day)"
            (eventClicked)="handleEvent('Clicked', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)">
          </mwl-calendar-month-view>
          <mwl-calendar-week-view
            *ngSwitchCase="'week'"
            [viewDate]="viewDate"
            [events]="events"
            [refresh]="refresh"
            (eventClicked)="handleEvent('Clicked', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)">
          </mwl-calendar-week-view>
          <mwl-calendar-day-view
            *ngSwitchCase="'day'"
            [viewDate]="viewDate"
            [events]="events"
            [refresh]="refresh"
            (eventClicked)="handleEvent('Clicked', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)">
          </mwl-calendar-day-view>
        </div>
         
          
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
          <span class="fa fa-ban"></span>&nbsp;<span >Cerrar</span>
      </button>       
  </div>
</form>
    