<div>
    <h2 class="text-center header-debida">
        <span >AGENDA</span>        
    </h2>    
    <!--<jhi-alert></jhi-alert>-->
    <div class="row">
        <div class="col-sm-12">
                <button class="btn btn-primary float-right jh-create-entity create-fechas-servicio" 
                style="padding-left: 5px !important; margin-left: 5px !important"
                [routerLink]="['/', { outlets: { popup: ['fechas-servicio-new'] } }]">
                    <span class="fa fa-plus"></span>
                    <span class="hidden-sm-down" >
                    Nueva Fecha
                    </span>
                </button>
        
                <button class="btn btn-primary float-right jh-create-entity create-fechas-servicio" 
                [routerLink]="['/', { outlets: { popup: 'agenda/'+ 0} }]">
                    <span class="fa fa-calendar"></span>
                    <span class="hidden-sm-down">
                        Agenda
                    </span>
                </button>
        </div>
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'debidadefensaApp.fechasServicio.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-remove"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="fechasServicios">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="debidadefensaApp.fechasServicio.fecha">Fecha</span></th>
            <th><span>Hora</span></th>
            <th><span>Cliente</span></th>
            <!-- <th><span>Tipo Servicio</span></th>             -->
            <th><span>Descripción</span></th>            
            <th><span jhiTranslate="debidadefensaApp.fechasServicio.observaciones">Observaciones</span></th>            
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let fechasServicio of fechasServicios ;trackBy: trackId">   
                <td>{{fechasServicio.fecha | date:'dd/MM/yyyy'}}</td>             
                <td>{{fechasServicio.fecha | date:'HH:mm'}}</td> 
                <!-- <td>{{fechasServicio.fecha | date:'mediumDate'}}</td>-->
                <!-- <td>{{fechasServicio.descripcion}}</td>                 -->
                <td><a (click)="abrelink(fechasServicio)">{{fechasServicio.nombreCliente}}</a></td>
                <td>{{fechasServicio.descripcion}}</td>
                <td>{{fechasServicio.observaciones}}</td>                
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                       <!-- <button type="submit"
                                [routerLink]="['../fechas-servicio', fechasServicio.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>-->
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'fechas-servicio/'+ fechasServicio.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_DIRECTOR', 'ROLE_ABOGADO']"
                                [routerLink]="['/', { outlets: { popup: 'fechas-servicio/'+ fechasServicio.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    
</div>
