<div>
    <!-- <jhi-alert></jhi-alert>  -->
    <div class="row">
        <div class="col-md-12 row" *ngIf="tiposervicio === '1001'" >
            <h4 class="col-md-6">Cliente: {{expediente.clienteNombre}}</h4>
            <h4 class="col-md-6">Tipo Servicio: {{nombreTipoServicio}}</h4>            
            <h4 class="col-md-6">Número Expediente: {{expediente.numeroExpediente}}</h4>
            <h4 class="col-md-6">Responsable: {{expediente.responsable}}</h4>            
        </div>
        <div class="col-md-12 row" *ngIf="tiposervicio === '1002'" >
                <h4 class="col-md-6">Cliente: {{tramiteMigratorio.clienteNombre}}</h4>
                <h4 class="col-md-6">Tipo Servicio: {{nombreTipoServicio}}</h4>            
                <h4 class="col-md-6">Nombre Extranjero: {{tramiteMigratorio.nombreExtranjero}}</h4>
                <h4 class="col-md-6">Tipo Tramite: {{tramiteMigratorio.tipotramite}}</h4>            
            </div>
        <div class="col-md-12 row" *ngIf="tiposervicio === '1003'">
                <h4 class="col-md-6">Cliente: {{tramiteGeneral.clienteNombre}}</h4>
                <h4 class="col-md-6">Tipo Servicio: {{nombreTipoServicio}}</h4>            
                <h4 class="col-md-6">Número Tramite: {{tramiteGeneral.numeroTramite}}</h4>
                <h4 class="col-md-6">Tipo Tramite: {{tramiteGeneral.titular}}</h4>            
            </div>
        <br>  
        <div class="col-md-12 row" *ngIf="tiposervicio === '1001'">
            <button type="submit"                               
                    [routerLink]="['/expediente', idTramite ]"
                    class="btn btn-info">            
                <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button> 
        </div> 
        <div class="col-md-12 row" *ngIf="tiposervicio === '1002'">
            <button type="submit"                               
                    [routerLink]="['/tramite-migratorio', idTramite ]"
                    class="btn btn-info">            
                <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button> 
        </div> 
        <div class="col-md-12 row" *ngIf="tiposervicio === '1003'">
            <button type="submit"                               
                    [routerLink]="['/tramite-general', idTramite ]"
                    class="btn btn-info">            
                <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button> 
        </div>      
        <h4 class="col-md-2">
            <span >Costos</span>
            <button class="btn btn-primary float-right jh-create-entity create-costo-servicio" 
                [routerLink]="['/', { outlets: { popup: 'costo-servicio-new/' + idTramite + '/' + tiposervicio } }]">
                <span class="fa fa-plus"></span>            
            </button>
        </h4>    
        <br/>
        <div class="table-responsive col-md-8" >
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th><span >Tipo</span></th>
                        <th><span jhiTranslate="debidadefensaApp.costoServicio.concepto">Concepto</span></th>
                        <th><span jhiTranslate="debidadefensaApp.costoServicio.costo">Costo</span></th>                   
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                <tr *ngFor="let costoServicio of costoServicios ;trackBy: trackId">                
                    <td>{{costoServicio.tipoCosto}}</td>
                    <td>{{costoServicio.concepto}}</td>
                    <td>{{costoServicio.costo}}</td>
                
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">                    
                            <button type="submit"
                                    [routerLink]="['/', { outlets: { popup: 'costo-servicio/' + costoServicio.id + '/edit'} }]"
                                    replaceUrl="true"
                                    queryParamsHandling="merge"
                                    class="btn btn-primary btn-sm">
                                <span class="fa fa-pencil"></span>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>
                            <button type="submit"
                                    [routerLink]="['/', { outlets: { popup: 'costo-servicio/'+ costoServicio.id + '/delete'} }]"
                                    replaceUrl="true"
                                    queryParamsHandling="merge"
                                    class="btn btn-danger btn-sm">
                                <span class="fa fa-remove"></span>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div> 
    <br>
    <div class="row">
        <h4 class="col-md-2 ">
            <span jhiTranslate="debidadefensaApp.pagos.home.title">Pagos</span>
            <button class="btn btn-primary float-right jh-create-entity create-pagos"   
                
                [routerLink]="['/', { outlets: { popup: 'pagos-new/' + idTramite + '/' + tiposervicio } }]">
                <span class="fa fa-plus"></span>
            </button>
        </h4>
        <br>
        <div class="table-responsive col-md-8">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th><span jhiTranslate="debidadefensaApp.pagos.tipoAbono">Tipo Abono</span></th>   
                        <th><span jhiTranslate="debidadefensaApp.pagos.formaPago">Forma Pago</span></th>
                        <th><span >Costo</span></th>
                        <th><span jhiTranslate="debidadefensaApp.pagos.fecha">Fecha</span></th>
                <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let pagos of pagos ;trackBy: trackId">
                    <td>{{pagos.tipoAbono}}</td>                    
                    <td>{{pagos.formaPago}}</td>
                    <td>{{pagos.cantidad}}</td>
                    <td>{{pagos.fecha | date:'mediumDate'}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">                           
                            <button type="submit"
                                    [routerLink]="['/', { outlets: { popup: 'pagos/'+ pagos.id + '/edit'} }]"
                                    replaceUrl="true"
                                    queryParamsHandling="merge"
                                    class="btn btn-primary btn-sm">
                                <span class="fa fa-pencil"></span>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>
                            <button type="submit"
                                    [routerLink]="['/', { outlets: { popup: 'pagos/'+ pagos.id + '/delete'} }]"
                                    replaceUrl="true"
                                    queryParamsHandling="merge"
                                    class="btn btn-danger btn-sm">
                                <span class="fa fa-remove"></span>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="form-group row" style="border-top: 1px solid #474a63; padding-top: 20px"> 
        <div class="row col-md-4">
            <h4 class="form-control-label col-md-8 text-right" >Costos Totales</h4>
            <h4 class="form-control-label col-md-4 text-left">{{totalCostos}}</h4>
        </div>
        <div class="row col-md-4">
            <h4 class="form-control-label col-md-8 text-right" >Pagos Totales</h4>
            <h4 class="form-control-label col-md-4 text-left" >{{totalPagos}}</h4>
        </div>
        <div class="row col-md-4">
            <h4 class="form-control-label col-md-8 text-right" >Deuda Total</h4>
            <h4 class="form-control-label col-md-4 text-left" >{{totalCostos - totalPagos}}</h4>
        </div> 
    </div>    
</div>
