<div>
    <h2>
        <span jhiTranslate="debidadefensaApp.costoServicio.home.title">Costo Servicios</span>
        <button class="btn btn-primary float-right jh-create-entity create-costo-servicio" [routerLink]="['/', { outlets: { popup: ['costo-servicio-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="debidadefensaApp.costoServicio.home.createLabel">
            Create new Costo Servicio
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'debidadefensaApp.costoServicio.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="costoServicios">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="debidadefensaApp.costoServicio.tipoServicio">Tipo Servicio</span></th>
            <th><span jhiTranslate="debidadefensaApp.costoServicio.idServicio">Id Servicio</span></th>
            <th><span jhiTranslate="debidadefensaApp.costoServicio.tipoCosto">Tipo Costo</span></th>
            <th><span jhiTranslate="debidadefensaApp.costoServicio.concepto">Concepto</span></th>
            <th><span jhiTranslate="debidadefensaApp.costoServicio.costo">Costo</span></th>
            <th><span jhiTranslate="debidadefensaApp.costoServicio.expediente">Expediente</span></th>
            <th><span jhiTranslate="debidadefensaApp.costoServicio.tramiteMigratorio">Tramite Migratorio</span></th>
            <th><span jhiTranslate="debidadefensaApp.costoServicio.tramiteGeneral">Tramite General</span></th>
            <th><span jhiTranslate="debidadefensaApp.costoServicio.tipoServicioCostoServicio">Tipo Servicio Costo Servicio</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let costoServicio of costoServicios ;trackBy: trackId">
                <td><a [routerLink]="['../costo-servicio', costoServicio.id ]">{{costoServicio.id}}</a></td>
                <td>{{costoServicio.tipoServicio}}</td>
                <td>{{costoServicio.idServicio}}</td>
                <td>{{costoServicio.tipoCosto}}</td>
                <td>{{costoServicio.concepto}}</td>
                <td>{{costoServicio.costo}}</td>
                <td>
                    <div *ngIf="costoServicio.expedienteId">
                        <a [routerLink]="['../expediente', costoServicio.expedienteId  ]" >{{costoServicio.expedienteId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="costoServicio.tramiteMigratorioId">
                        <a [routerLink]="['../tramite-migratorio', costoServicio.tramiteMigratorioId  ]" >{{costoServicio.tramiteMigratorioId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="costoServicio.tramiteGeneralId">
                        <a [routerLink]="['../tramite-general', costoServicio.tramiteGeneralId  ]" >{{costoServicio.tramiteGeneralId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="costoServicio.tipoServicioCostoServicioId">
                        <a [routerLink]="['../tipo-servicio', costoServicio.tipoServicioCostoServicioId  ]" >{{costoServicio.tipoServicioCostoServicioId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../costo-servicio', costoServicio.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'costo-servicio/'+ costoServicio.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'costo-servicio/'+ costoServicio.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
