
<div *ngIf="costoServicio">
    <h2><span jhiTranslate="debidadefensaApp.costoServicio.detail.title">Costo Servicio</span> {{costoServicio.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="debidadefensaApp.costoServicio.tipoCosto">Tipo Costo</span></dt>
        <dd>
            <span>{{costoServicio.tipoCosto}}</span>
        </dd>
        <dt><span jhiTranslate="debidadefensaApp.costoServicio.concepto">Concepto</span></dt>
        <dd>
            <span>{{costoServicio.concepto}}</span>
        </dd>
        <dt><span jhiTranslate="debidadefensaApp.costoServicio.costo">Costo</span></dt>
        <dd>
            <span>{{costoServicio.costo}}</span>
        </dd>
        <dt><span jhiTranslate="debidadefensaApp.costoServicio.expediente">Expediente</span></dt>
        <dd>
            <div *ngIf="costoServicio.expedienteId">
                <a [routerLink]="['/expediente', costoServicio.expedienteId]">{{costoServicio.expedienteId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="debidadefensaApp.costoServicio.tramiteMigratorio">Tramite Migratorio</span></dt>
        <dd>
            <div *ngIf="costoServicio.tramiteMigratorioId">
                <a [routerLink]="['/tramite-migratorio', costoServicio.tramiteMigratorioId]">{{costoServicio.tramiteMigratorioId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="debidadefensaApp.costoServicio.tramiteGeneral">Tramite General</span></dt>
        <dd>
            <div *ngIf="costoServicio.tramiteGeneralId">
                <a [routerLink]="['/tramite-general', costoServicio.tramiteGeneralId]">{{costoServicio.tramiteGeneralId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="debidadefensaApp.costoServicio.tipoServicio">Tipo Servicio</span></dt>
        <dd>
            <div *ngIf="costoServicio.tipoServicioId">
                <a [routerLink]="['/tipo-servicio', costoServicio.tipoServicioId]">{{costoServicio.tipoServicioId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'costo-servicio/'+ costoServicio.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
