<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myExpedienteAsociadoLabel" jhiTranslate="debidadefensaApp.expedienteAsociado.home.createOrEditLabel">Create or edit a Expediente Asociado</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <!--<div class="form-group" [hidden]="!expedienteAsociado.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="expedienteAsociado.id" readonly />
        </div>-->
        <div class="form-group row">
            <label class="form-control-label col-md-2 text-right" jhiTranslate="debidadefensaApp.expedienteAsociado.expediente" for="field_expediente">Expediente</label>
            <select  [disabled]="true" class="form-control col-md-10" id="field_expediente" name="expediente" [(ngModel)]="expedienteAsociado.expedienteId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="expedienteOption.id" *ngFor="let expedienteOption of expedientes; trackBy: trackExpedienteById">{{expedienteOption.numeroExpediente}}</option>
            </select>
        </div>
        <div class="form-group row">
            <label class="form-control-label col-md-2 text-right" jhiTranslate="debidadefensaApp.expedienteAsociado.numeroExpediente" for="field_numeroExpediente">Numero Expediente</label>
            <input type="text" class="form-control col-md-10" name="numeroExpediente" id="field_numeroExpediente"
                [(ngModel)]="expedienteAsociado.numeroExpediente" />
        </div>
        <div class="form-group row">
            <label class="form-control-label col-md-2 text-right" jhiTranslate="debidadefensaApp.expedienteAsociado.instancia" for="field_instancia">Instancia</label>
            <input type="text" class="form-control col-md-10" name="instancia" id="field_instancia"
                [(ngModel)]="expedienteAsociado.instancia" />
        </div>
        <div class="form-group row">
            <label class="form-control-label col-md-2 text-right" for="field_organocompetente">Organo Competente</label>
            <input type="text" class="form-control col-md-10" name="organocompetente" id="field_organocompetente"
                [(ngModel)]="expedienteAsociado.organocompetente" />
        </div>
        <!--<div class="form-group row">
            <label class="form-control-label col-md-2 text-right" jhiTranslate="debidadefensaApp.expedienteAsociado.archivo" for="field_archivo">Archivo</label>
            <input type="text" class="form-control col-md-10" name="archivo" id="field_archivo"
                [(ngModel)]="expedienteAsociado.archivo" />
        </div>-->
        
        <div class="form-group row">
            <label class="form-control-label col-md-2 text-right" jhiTranslate="debidadefensaApp.expedienteAsociado.fechaSentencia" for="field_fechaSentencia">Fecha Sentencia</label>
            <div class="input-group col-md-10">
                <input id="field_fechaSentencia" type="text" class="form-control" name="fechaSentencia" ngbDatepicker  #fechaSentenciaDp="ngbDatepicker" [(ngModel)]="expedienteAsociado.fechaSentencia"/>
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="fechaSentenciaDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group row">
            <label class="form-control-label col-md-2 text-right"  for="field_estatusExpedienteAsociado">Estatus</label>
            <select class="form-control col-md-10" id="field_estatusExpedienteAsociado" name="estatusExpedienteAsociado" [(ngModel)]="expedienteAsociado.estatusExpedienteAsociadoId">
                <option [ngValue]="null"></option>
                <option [ngValue]="estatusOption.id" *ngFor="let estatusOption of estatusexpedienteasociados; trackBy: trackEstatusById">{{estatusOption.descripcion}}</option>
            </select>
        </div>
        <div class="form-group row">
            <label class="form-control-label col-md-2 text-right" jhiTranslate="debidadefensaApp.expedienteAsociado.observaciones" for="field_observaciones">Observaciones</label>
            <input type="text" class="form-control col-md-10" name="observaciones" id="field_observaciones"
                [(ngModel)]="expedienteAsociado.observaciones" />
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
