en <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm"  *ngIf="!esDeshabilitada">

    <div class="modal-header" >
        <h4 class="modal-title" style="font-weight: bold" id="myExpedienteAsociadoLabel" jhiTranslate="debidadefensaApp.expedienteAsociado.home.createOrEditLabel">Create or edit a Expediente Asociado</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <!-- <jhi-alert-error></jhi-alert-error> -->
        <!--<div class="form-group" [hidden]="!expedienteAsociado.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="expedienteAsociado.id" readonly />
        </div>-->
        <div class="form-group row">
            <label class="form-control-label col-md-2 text-right" jhiTranslate="debidadefensaApp.expedienteAsociado.expediente" for="field_expediente">Expediente</label>
            <select  [disabled]="true" class="form-control col-md-10" id="field_expediente" name="expediente" [(ngModel)]="expedienteAsociado.expedienteId" required>
                <option [ngValue]="null"></option>
                <option [ngValue]="expedienteOption.id" *ngFor="let expedienteOption of expedientes; trackBy: trackExpedienteById">{{expedienteOption.numeroExpediente}}</option>
            </select>
        </div>
        <div class="form-group row">
            <label class="form-control-label col-md-2 text-right" jhiTranslate="debidadefensaApp.expedienteAsociado.numeroExpediente" for="field_numeroExpediente">Numero Expediente</label>
            <input type="text" class="form-control col-md-10" name="numeroExpediente" id="field_numeroExpediente" required maxlength="250"
                [(ngModel)]="expedienteAsociado.numeroExpediente" />
        </div>
        <div class="form-group row">
            <label class="form-control-label col-md-2 text-right" jhiTranslate="debidadefensaApp.expedienteAsociado.instancia" for="field_instancia">Instancia</label>
            <input type="text" class="form-control col-md-10" name="instancia" id="field_instancia" required maxlength="250"
                [(ngModel)]="expedienteAsociado.instancia" />
        </div>
        <div class="form-group row">
            <label class="form-control-label col-md-2 text-right" for="field_organocompetente">Órgano Competente</label>
            <input type="text" class="form-control col-md-10" name="organocompetente" id="field_organocompetente" required maxlength="250"
                [(ngModel)]="expedienteAsociado.organocompetente" />
        </div>
        <!--<div class="form-group row">
            <label class="form-control-label col-md-2 text-right" jhiTranslate="debidadefensaApp.expedienteAsociado.archivo" for="field_archivo">Archivo</label>
            <input type="text" class="form-control col-md-10" name="archivo" id="field_archivo"
                [(ngModel)]="expedienteAsociado.archivo" />
        </div>-->
        
        <div class="form-group row">
            <label class="form-control-label col-md-2 text-right" jhiTranslate="debidadefensaApp.expedienteAsociado.fechaSentencia" for="field_fechaSentencia">Fecha Sentencia</label>
            <div class="input-group col-md-4" style="padding-left: 0px; padding-right: 0px">
                <input id="field_fechaSentencia" type="date" style="font-size: 12px" class="form-control" name="fechaSentencia" dateFormat="dd-MM-yyyy" [readonly]="true" ngbDatepicker  #fechaSentenciaDp="ngbDatepicker" [(ngModel)]="expedienteAsociado.fechaSentencia"/>
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="fechaSentenciaDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <label class="form-control-label col-md-2 text-right"  for="field_estatusExpedienteAsociado">Estatus</label>
            <select class="form-control col-md-4" id="field_estatusExpedienteAsociado" name="estatusExpedienteAsociado" [(ngModel)]="expedienteAsociado.estatusExpedienteAsociadoId">
                <option [ngValue]="null"></option>
                <option [ngValue]="estatusOption.id" *ngFor="let estatusOption of estatusexpedienteasociados; trackBy: trackEstatusById">{{estatusOption.descripcion}}</option>
            </select>
        </div>
        <div class="form-group row">
            <label class="form-control-label col-md-2 text-right" jhiTranslate="debidadefensaApp.expedienteAsociado.observaciones" for="field_observaciones">Observaciones</label>
            <input type="text" class="form-control col-md-10" name="observaciones" id="field_observaciones" maxlength="250"
                [(ngModel)]="expedienteAsociado.observaciones" />
        </div>

        <div class="form-group row" style="border-top:1px solid #474a63; padding-top: 20px" *ngIf="expedienteAsociado.id">            
                <div class="row col-md-12 text-center" style="margin-right: 0px; margin-left: 0px;"> 
                    <div class="col-md-12" style="height: 40px;">
                        <span class="col-md-12 text-center label-title">DOCUMENTOS</span>       
                        <button class="btn btn-secondary btn-sm" type="button"  (click)="esDeshabilitada = true"                              
                            [routerLink]="['/', { outlets: { popup: 'documentos-new/' + expedienteAsociado.id + '/' + tipoServicio + '/' + expedienteOriginal.clienteId } }]">
                            <span class="fa fa-plus"></span>
                        </button>
                    </div>
                </div>
                <div class="row col-md-12 text-center" style="margin-right: 0px; margin-left: 0px;">
                    <div class="table-responsive" *ngIf="documentos">
                        <table class="table table-striped">
                            <thead>
                            <tr>                            
                            <th><span >Nombre</span></th>
                            <th><span jhiTranslate="debidadefensaApp.documentos.fecha">Fecha</span></th>
                            <th><span jhiTranslate="debidadefensaApp.documentos.descripcion">Descripción</span></th>   
                            <th><span >Observaciones</span></th>                            
                            <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let documentos of documentos ;let i = index">                                
                                <td>{{documentos.nombreDocumento}}</td>
                                <td>{{documentos.fecha | date:'mediumDate'}}</td>
                                <td>{{documentos.descripcion}}</td>  
                                <td style="width: 40%">{{documentos.observaciones}}</td>                                                              
                                <td class="text-right">
                                    <div class="btn-group flex-btn-group-container"> 
                                        <button type="button" *ngIf="documentos.isPDF"
                                                [routerLink]="['/', { outlets: { popup: 'documentos/'+ documentos.id + '/' + expedienteOriginal.clienteId + '/' + expedienteAsociado.id + '/' + tipoServicio + '/pdfview'} }]"
                                                replaceUrl="true"
                                                queryParamsHandling="merge"
                                                class="btn btn-primary btn-sm">
                                            <span class="fa fa-file-pdf-o"></span>
                                            <span class="d-none d-md-inline" >Ver</span>
                                        </button>                                    
                                        <button type="button" (click)="getFile(documentos.nombreDocumento, expedienteOriginal.clienteId, tipoServicio)"
                                                class="btn btn-primary btn-sm">
                                            <span class="fa fa-download"></span>
                                            <span class="d-none d-md-inline" >Descargar</span>
                                        </button>
                                        <button type="button"
                                                [routerLink]="['/', { outlets: { popup: 'documentos/'+ documentos.id + '/' + expedienteOriginal.clienteId + '/' + expedienteAsociado.id + '/' + tipoServicio + '/delete'} }]"
                                                replaceUrl="true"
                                                queryParamsHandling="merge"
                                                class="btn btn-danger btn-sm">
                                            <span class="fa fa-remove"></span>
                                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> 
    </div>
    <div class="text-center load-modal-white" *ngIf="esVisibleCarga">
            <img src="./../../../content/images/Loading.gif">           
    </div>
    <div class="modal-footer" >
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
