<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTramiteMigratorioLabel" jhiTranslate="debidadefensaApp.tramiteMigratorio.home.createOrEditLabel">Create or edit a Tramite Migratorio</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!tramiteMigratorio.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="tramiteMigratorio.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="debidadefensaApp.tramiteMigratorio.nombreExtranjero" for="field_nombreExtranjero">Nombre Extranjero</label>
            <input type="text" class="form-control" name="nombreExtranjero" id="field_nombreExtranjero"
                [(ngModel)]="tramiteMigratorio.nombreExtranjero" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="debidadefensaApp.tramiteMigratorio.tipotramite" for="field_tipotramite">Tipotramite</label>
            <input type="text" class="form-control" name="tipotramite" id="field_tipotramite"
                [(ngModel)]="tramiteMigratorio.tipotramite" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="debidadefensaApp.tramiteMigratorio.entidad" for="field_entidad">Entidad</label>
            <input type="text" class="form-control" name="entidad" id="field_entidad"
                [(ngModel)]="tramiteMigratorio.entidad" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="debidadefensaApp.tramiteMigratorio.nut" for="field_nut">Nut</label>
            <input type="number" class="form-control" name="nut" id="field_nut"
                [(ngModel)]="tramiteMigratorio.nut" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="debidadefensaApp.tramiteMigratorio.contraseniaNUT" for="field_contraseniaNUT">Contrasenia NUT</label>
            <input type="text" class="form-control" name="contraseniaNUT" id="field_contraseniaNUT"
                [(ngModel)]="tramiteMigratorio.contraseniaNUT" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="debidadefensaApp.tramiteMigratorio.fechaIngreso" for="field_fechaIngreso">Fecha Ingreso</label>
            <div class="d-flex">
                <input id="field_fechaIngreso" type="datetime-local" class="form-control" name="fechaIngreso" [(ngModel)]="tramiteMigratorio.fechaIngreso"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="debidadefensaApp.tramiteMigratorio.fechaNotificacion" for="field_fechaNotificacion">Fecha Notificacion</label>
            <div class="d-flex">
                <input id="field_fechaNotificacion" type="datetime-local" class="form-control" name="fechaNotificacion" [(ngModel)]="tramiteMigratorio.fechaNotificacion"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="debidadefensaApp.tramiteMigratorio.fechaResolucion" for="field_fechaResolucion">Fecha Resolucion</label>
            <div class="d-flex">
                <input id="field_fechaResolucion" type="datetime-local" class="form-control" name="fechaResolucion" [(ngModel)]="tramiteMigratorio.fechaResolucion"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="debidadefensaApp.tramiteMigratorio.archivo" for="field_archivo">Archivo</label>
            <input type="text" class="form-control" name="archivo" id="field_archivo"
                [(ngModel)]="tramiteMigratorio.archivo" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="debidadefensaApp.tramiteMigratorio.observaciones" for="field_observaciones">Observaciones</label>
            <input type="text" class="form-control" name="observaciones" id="field_observaciones"
                [(ngModel)]="tramiteMigratorio.observaciones" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="debidadefensaApp.tramiteMigratorio.cliente" for="field_cliente">Cliente</label>
            <select class="form-control" id="field_cliente" name="cliente" [(ngModel)]="tramiteMigratorio.clienteId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="clienteOption.id" *ngFor="let clienteOption of clientes; trackBy: trackClienteById">{{clienteOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="debidadefensaApp.tramiteMigratorio.estatusTramiteMigratorio" for="field_estatusTramiteMigratorio">Estatus Tramite Migratorio</label>
            <select class="form-control" id="field_estatusTramiteMigratorio" name="estatusTramiteMigratorio" [(ngModel)]="tramiteMigratorio.estatusTramiteMigratorioId">
                <option [ngValue]="null"></option>
                <option [ngValue]="estatusOption.id" *ngFor="let estatusOption of estatustramitemigratorios; trackBy: trackEstatusById">{{estatusOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="debidadefensaApp.tramiteMigratorio.tramitesMigraAsociados" for="field_tramitesMigraAsociados">Tramites Migra Asociados</label>
            <select class="form-control" id="field_tramitesMigraAsociados" multiple name="tramitesMigraAsociados" [(ngModel)]="tramiteMigratorio.tramitesMigraAsociados">
                <option [ngValue]="getSelected(tramiteMigratorio.tramitesMigraAsociados, tramiteAsociadoOption)" *ngFor="let tramiteAsociadoOption of tramiteasociados; trackBy: trackTramiteAsociadoById">{{tramiteAsociadoOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
