<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" style="font-weight: bold" id="myTramiteMigratorioLabel">Editar Trámite Migratorio</h4>
        <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button> -->
        
    </div>
    <div class="modal-body">
        <!-- <jhi-alert-error></jhi-alert-error>-->
        <!--<div class="form-group row" [hidden]="!tramiteMigratorio.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="tramiteMigratorio.id" readonly />
        </div>-->
        <div class="form-group row">
            <label class="form-control-label col-md-2 text-right" jhiTranslate="debidadefensaApp.tramiteMigratorio.cliente" for="field_cliente">Cliente</label>
            <select [disabled]="tramiteMigratorio.id" class="form-control col-md-10" id="field_cliente" name="cliente" [(ngModel)]="tramiteMigratorio.clienteId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="clienteOption.id" *ngFor="let clienteOption of clientes; trackBy: trackClienteById">{{clienteOption.nombre}}</option>
            </select>
        </div>

        <div class="form-group row">
            <label class="form-control-label col-md-2 text-right" jhiTranslate="debidadefensaApp.tramiteMigratorio.nombreExtranjero" for="field_nombreExtranjero">Nombre Extranjero</label>
            <input type="text" class="form-control col-md-10" name="nombreExtranjero" id="field_nombreExtranjero"
                [(ngModel)]="tramiteMigratorio.nombreExtranjero" />
        </div>
        
        <div class="form-group row">
            <label class="form-control-label col-md-2 text-right" jhiTranslate="debidadefensaApp.tramiteMigratorio.estatusTramiteMigratorio" for="field_estatusTramiteMigratorio">Estatus Tramite Migratorio</label>
            <select class="form-control col-md-10" id="field_estatusTramiteMigratorio" name="estatusTramiteMigratorio" [(ngModel)]="tramiteMigratorio.estatusTramiteMigratorioId">
                <option [ngValue]="null"></option>
                <option [ngValue]="estatusOption.id" *ngFor="let estatusOption of estatustramitemigratorios; trackBy: trackEstatusById">{{estatusOption.descripcion}}</option>
            </select>
        </div>
        <div class="form-group row">
            <label class="form-control-label col-md-2 text-right" for="field_tipotramite">Tipo de Trámite</label>
            <input type="text" class="form-control col-md-10" name="tipotramite" id="field_tipotramite"
                [(ngModel)]="tramiteMigratorio.tipotramite" />
        </div>
        <div class="form-group row">
            <label class="form-control-label col-md-2 text-right" jhiTranslate="debidadefensaApp.tramiteMigratorio.entidad" for="field_entidad">Entidad</label>
            <input type="text" class="form-control col-md-10" name="entidad" id="field_entidad"
                [(ngModel)]="tramiteMigratorio.entidad" />
        </div>
        <div class="form-group row">
            <label class="form-control-label col-md-2 text-right" for="field_nut">NUT</label>
            <input type="number" class="form-control col-md-10" name="nut" id="field_nut"
                [(ngModel)]="tramiteMigratorio.nut" />
        </div>
        <div class="form-group row">
            <label class="form-control-label col-md-2 text-right" for="field_contraseniaNUT">Contraseña NUT</label>
            <input type="text" class="form-control col-md-10" name="contraseniaNUT" id="field_contraseniaNUT"
                [(ngModel)]="tramiteMigratorio.contraseniaNUT" />
        </div>
        <div class="form-group row">
            <label class="form-control-label col-md-2 text-right" for="field_fechaIngreso">Fecha de Ingreso</label>
            <div class="input-group col-md-2" style="padding-left: 0px; padding-right: 0px;">
                <input id="field_fechaIngreso" type="date" class="form-control" name="fechaIngreso" dateFormat="dd-MM-yyyy" ngbDatepicker  #fechaIngresoDp="ngbDatepicker" [(ngModel)]="tramiteMigratorio.fechaIngreso"/>
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="fechaIngresoDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <label class="form-control-label col-md-2 text-right" for="field_fechaNotificacion">Fecha de Notificación</label>
            <div class="input-group col-md-2" style="padding-left: 0px; padding-right: 0px;">
                <input id="field_fechaNotificacion" type="date" class="form-control" name="fechaNotificacion" dateFormat="dd-MM-yyyy" ngbDatepicker  #fechaNotificacionDp="ngbDatepicker" [(ngModel)]="tramiteMigratorio.fechaNotificacion"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="fechaNotificacionDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <label class="form-control-label col-md-2 text-right" for="field_fechaResolucion">Fecha de Resolución</label>
            <div class="input-group col-md-2" style="padding-left: 0px; padding-right: 0px;">
                <input id="field_fechaResolucion" type="date" class="form-control" name="fechaResolucion" dateFormat="dd-MM-yyyy" ngbDatepicker  #fechaResolucionDp="ngbDatepicker" [(ngModel)]="tramiteMigratorio.fechaResolucion"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="fechaResolucionDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
       
        <!--<div class="form-group">
            <label class="form-control-label" jhiTranslate="debidadefensaApp.tramiteMigratorio.archivo" for="field_archivo">Archivo</label>
            <input type="text" class="form-control" name="archivo" id="field_archivo"
                [(ngModel)]="tramiteMigratorio.archivo" />
        </div>-->
        <div class="form-group row">
            <label class="form-control-label col-md-2 text-right" jhiTranslate="debidadefensaApp.tramiteMigratorio.observaciones" for="field_observaciones">Observaciones</label>
            <input type="text" class="form-control col-md-10" name="observaciones" id="field_observaciones"
                [(ngModel)]="tramiteMigratorio.observaciones" />
        </div>


         <!--ARCHIVOS-->
         <div class="form-group row" style="border-top:1px solid #474a63; padding-top: 20px">            
                <div class="row col-md-12 text-center" style="margin-right: 0px; margin-left: 0px;"> 
                    <div class="col-md-12" style="height: 40px;">
                        <span class="col-md-12 text-center label-title">DOCUMENTOS</span>       
                        <button class="btn btn-secondary btn-sm" type="button"                    
                            [routerLink]="['/', { outlets: { popup: 'documentos-new/' + tramiteMigratorio.id + '/' + tipoServicio + '/' + tramiteMigratorio.clienteId} }]">
                            <span class="fa fa-plus"></span>
                            
                        </button>
                    </div>
                </div>
                <div class="row col-md-12 text-center" style="margin-right: 0px; margin-left: 0px;">
                    <div class="table-responsive" *ngIf="documentos">
                        <table class="table table-striped">
                            <thead>
                            <tr>                            
                            <th><span >Nombre</span></th>
                            <th><span jhiTranslate="debidadefensaApp.documentos.fecha">Fecha</span></th>
                            <th><span >Descripción</span></th>                            
                            <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let documentos of documentos ; let i = index">                                
                                <td>{{documentos.nombreDocumento}}</td>
                                <td>{{documentos.fecha | date:'mediumDate'}}</td>
                                <td>{{documentos.descripcion}}</td>                                
                                <td class="text-right">
                                    <div class="btn-group flex-btn-group-container">   
                                        <button type="button" (click)="getFile(documentos.nombreDocumento, tramiteMigratorio.clienteId, tipoServicio)"
                                                class="btn btn-primary btn-sm">
                                            <span class="fa fa-download"></span>
                                            <span class="d-none d-md-inline" >Descargar</span>
                                        </button>                               
                                        <button type="button"
                                                [routerLink]="['/', { outlets: { popup: 'documentos/'+ documentos.id + '/' + tramiteMigratorio.clienteId + '/' + tramiteMigratorio.id + '/delete'} }]"
                                                replaceUrl="true"
                                                queryParamsHandling="merge"
                                                class="btn btn-danger btn-sm">
                                            <span class="fa fa-remove"></span>
                                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
        <!-- <div class="form-group row">
            <label class="form-control-label col-md-2 text-right" jhiTranslate="debidadefensaApp.tramiteMigratorio.tramitesMigraAsociados" for="field_tramitesMigraAsociados">Tramites Migra Asociados</label>
            <select class="form-control col-md-10" id="field_tramitesMigraAsociados" multiple name="tramitesMigraAsociados" [(ngModel)]="tramiteMigratorio.tramitesMigraAsociados">
                <option [ngValue]="getSelected(tramiteMigratorio.tramitesMigraAsociados, tramiteAsociadoOption)" *ngFor="let tramiteAsociadoOption of tramiteasociados; trackBy: trackTramiteAsociadoById">{{tramiteAsociadoOption.id}}</option>
            </sel<ect>
        </div> -->

        <!-- COSTOS Y PAGOS -->
        <div *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_DIRECTOR']" class="row col-md-12 text-center" style="margin-right: 0px; margin-left: 0px;">
                <div class="col-md-12" style="height: 40px;">
                    <span class="text-center label-title">COSTOS Y PAGOS</span>         
                    <button type="button" 
                            [routerLink]="['../costo-servicio', tramiteMigratorio.id, tipoServicio  ]"      
                            replaceUrl="true"
                            queryParamsHandling="merge"
                            class="btn btn-secondary btn-sm">
                        <span class="fa fa-credit-card"></span>                
                    </button>            
                </div>                 
                <div class="row col-md-4">
                    <h4 class="form-control-label col-md-8 text-right" >Costos Totales</h4>
                    <h4 class="form-control-label col-md-4 text-left">{{totalCostos}}</h4>
                </div>
                <div class="row col-md-4">
                    <h4 class="form-control-label col-md-8 text-right" >Pagos Totales</h4>
                    <h4 class="form-control-label col-md-4 text-left" >{{totalPagos}}</h4>
                </div>
                <div class="row col-md-4">
                    <h4 class="form-control-label col-md-8 text-right" >Deuda Total</h4>
                    <h4 class="form-control-label col-md-4 text-left" >{{totalCostos - totalPagos}}</h4>
                </div> 
                
            </div>
        </div>          

        <!-- Asociaciones y Fechas -->
        <div class="form-group row" style="border-top:1px solid #474a63; padding-top: 20px">            
            <div class="row col-md-6 text-center" style="margin-right: 0px; margin-left: 0px;">  
                <div class="col-md-12" style="height: 40px;">
                    <span class="col-md-12 text-center label-title">Trámites asociados</span>       
                    <button class="btn btn-secondary btn-sm" type="button"
                        [routerLink]="['/', { outlets: { popup: 'tramite-asociado/'+ tramiteMigratorio.id + '/' + tipoServicio + '/edit'} }]" >
                        <span class="fa fa-plus"></span>                        
                    </button>
                </div>
                <div class="col-md-12">
                    <div class="table-responsive">
                        <span class="col-md-12 text-center label-title" style="font-weight: bold">Trámites migratorios</span>       
                        <table class="table table-striped">
                            <thead>
                            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" >                            
                            <th><span jhiTranslate="debidadefensaApp.tramiteMigratorio.nombreExtranjero">Nombre Extranjero</span> <span class="fa"></span></th>                            
                            <th><span>Fecha de Ingreso</span> <span class="fa"></span></th>
                            <th><span jhiTranslate="debidadefensaApp.tramiteMigratorio.estatusTramiteMigratorio">Estatus Tramite Migratorio</span> <span class="fa"></span></th>
                            <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let tramiteMigratorioasoc of tramiteMigratorios ; let i = index">                                
                                <td>{{tramiteMigratorioasoc.nombreExtranjero}}</td>                                
                                <td>{{tramiteMigratorioasoc.fechaIngreso | date:'mediumDate'}}</td>
                                <td>{{tramiteMigratorioasoc.estatusDescripcion}}</td>                                                            
                                <td class="text-right">
                                    <div class="btn-group flex-btn-group-container">                                      
                                        <button type="button" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_DIRECTOR']"
                                                [routerLink]="['/', { outlets: { popup: 'tramite-asociado/'+ tramiteMigratorio.id + '/' + tipoServicio + '/' + tramiteMigratorioasoc.id + '/' + 1002 + '/delete'} }]"
                                                replaceUrl="true"
                                                queryParamsHandling="merge"
                                                class="btn btn-danger btn-sm">
                                            <span class="fa fa-remove"></span>
                                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <span class="col-md-12 text-center label-title" style="font-weight: bold">Trámites generales</span>       
                        <table class="table table-striped">
                            <thead>
                                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse">
                                    <th><span >Cliente</span> </th>                        
                                    <th><span jhiTranslate="debidadefensaApp.tramiteGeneral.titular">Titular</span> </th>                       
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let tramiteGeneralasoc of tramiteGenerals ; let i = index">
                                    <td>{{tramiteGeneralasoc.clienteNombre}}</td> 
                                    <td>{{tramiteGeneralasoc.titular}}</td>
                                    <td class="text-right">
                                        <div class="btn-group flex-btn-group-container">                                      
                                            <button type="button"  *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_DIRECTOR']"
                                                    [routerLink]="['/', { outlets: { popup: 'tramite-asociado/'+ tramiteMigratorio.id + '/' + tipoServicio + '/' + tramiteGeneralasoc.id + '/' + 1003 + '/delete'} }]"
                                                    replaceUrl="true"
                                                    queryParamsHandling="merge"
                                                    class="btn btn-danger btn-sm">
                                                <span class="fa fa-remove"></span>
                                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row col-md-6 text-center" style="margin-right: 0px; margin-left: 0px;">
                <div class="col-md-12" style="height: 40px;">
                    <span class="text-center label-title">Fechas</span>
                    <button class="btn btn-secondary btn-sm" type="button"
                            [routerLink]="['/', { outlets: { popup: 'fechas-servicio-newby/' + tramiteMigratorio.id + '/' + tipoServicio } }]">
                        <span class="fa fa-plus"></span>                        
                    </button>
                </div>
                <div class="table-responsive" >
                        <table class="table table-striped">
                            <thead>
                            <tr>                                
                                <th><span jhiTranslate="debidadefensaApp.fechasServicio.fecha">Fecha</span></th>
                                <th><span>Descripción</span></th>                            
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let fechasServicio of fechasServicios ; let i = index">
                                <td>{{fechasServicio.fecha | date:'mediumDate'}}</td>
                                <td>{{fechasServicio.descripcion}}</td>                                
                                <td class="text-right">
                                    <div class="btn-group flex-btn-group-container">                                      
                                        <button type="button"
                                                [routerLink]="['/', { outlets: { popup: 'fechas-servicio/'+ fechasServicio.id + '/delete'} }]"
                                                replaceUrl="true"
                                                queryParamsHandling="merge"
                                                class="btn btn-danger btn-sm">
                                            <span class="fa fa-remove"></span>
                                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">  
        <button type="button"      
                [routerLink]="['/tramite-migratorio-usuario', tramiteMigratorio.clienteId ]"
                class="btn btn-info">            
            <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
