<div>
    <h2 class="text-center header-debida">
        <span >TRÁMITES MIGRATORIOS</span>        
    </h2>
    <h2>        
        <button class="btn btn-primary float-right jh-create-entity create-tramite-migratorio" 
            [routerLink]="['/', { outlets: { popup: 'tramite-migratorio-new/'+ cliente.id } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down" >
            Nuevo Trámite Migratorio
            </span>
        </button>
        <br>
        <span *ngIf="cliente.id">Cliente: <a [routerLink]="['/', { outlets: { popup: 'cliente/'+ cliente.id + '/edit'} }]">{{cliente.nombre}}</a></span>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" maxlength="350"  [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'debidadefensaApp.tramiteMigratorio.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-remove"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="tramiteMigratorios">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th *ngIf="!cliente.id"><span>Cliente</span> <span class="fa"></span></th>
            <th><span jhiTranslate="debidadefensaApp.tramiteMigratorio.nombreExtranjero">Nombre Extranjero</span> <span class="fa"></span></th>
            <th><span>Tipo de Trámite</span> <span class="fa"></span></th>
            <!--<th jhiSortBy="entidad"><span jhiTranslate="debidadefensaApp.tramiteMigratorio.entidad">Entidad</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nut"><span jhiTranslate="debidadefensaApp.tramiteMigratorio.nut">Nut</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="contraseniaNUT"><span jhiTranslate="debidadefensaApp.tramiteMigratorio.contraseniaNUT">Contrasenia NUT</span> <span class="fa fa-sort"></span></th>-->
            <th><span jhiTranslate="debidadefensaApp.tramiteMigratorio.estatusTramiteMigratorio">Estatus Tramite Migratorio</span> <span class="fa"></span></th>
            <!-- <th><span>Fecha de Ingreso</span> <span class="fa"></span></th> -->
            <!--<th jhiSortBy="fechaNotificacion"><span jhiTranslate="debidadefensaApp.tramiteMigratorio.fechaNotificacion">Fecha Notificacion</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="fechaResolucion"><span jhiTranslate="debidadefensaApp.tramiteMigratorio.fechaResolucion">Fecha Resolucion</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="archivo"><span jhiTranslate="debidadefensaApp.tramiteMigratorio.archivo">Archivo</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="observaciones"><span jhiTranslate="debidadefensaApp.tramiteMigratorio.observaciones">Observaciones</span> <span class="fa fa-sort"></span></th>-->
            <!-- <th jhiSortBy="clienteId"><span jhiTranslate="debidadefensaApp.tramiteMigratorio.cliente">Cliente</span> <span class="fa fa-sort"></span></th>-->
            <th><span >Total de trámites asociados</span> <span class="fa"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tramiteMigratorio of tramiteMigratorios ;trackBy: trackId">
                <td *ngIf="!cliente.id"><a [routerLink]="['/', { outlets: { popup: 'cliente/'+ tramiteMigratorio.clienteId + '/edit'} }]">{{tramiteMigratorio.clienteNombre}}</a></td>              
                <td>{{tramiteMigratorio.nombreExtranjero}}</td>               
                <!-- <td>{{tramiteMigratorio.nombreExtranjero}}</td> -->
                <td>{{tramiteMigratorio.tipotramite}}</td>
                <!--<td>{{tramiteMigratorio.entidad}}</td>
                <td>{{tramiteMigratorio.nut}}</td>
                <td>{{tramiteMigratorio.contraseniaNUT}}</td>-->
                <td>{{tramiteMigratorio.estatusDescripcion}}</td>
                <!-- <td>{{tramiteMigratorio.fechaIngreso | date:'mediumDate'}}</td> -->
                <td>{{tramiteMigratorio.totalDocumentos}}</td>
                <!--<td>{{tramiteMigratorio.fechaNotificacion | date:'mediumDate'}}</td>
                <td>{{tramiteMigratorio.fechaResolucion | date:'mediumDate'}}</td>
                <td>{{tramiteMigratorio.archivo}}</td>
                <td>{{tramiteMigratorio.observaciones}}</td>-->
                <!-- <td>
                    <div *ngIf="tramiteMigratorio.clienteId">
                            <a [routerLink]="['/', { outlets: { popup: 'cliente/'+ tramiteMigratorio.clienteId + '/edit'} }]">{{tramiteMigratorio.clienteNombre}}</a>
                    </div>
                </td>-->
                
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"                               
                                [routerLink]="['/tramite-migratorio', tramiteMigratorio.id, esGeneral ]"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" >Editar</span>
                        </button>           
                        <!-- <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tramite-migratorio/'+ tramiteMigratorio.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>       -->      
                        <button type="submit" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_DIRECTOR']"
                                [routerLink]="['/', { outlets: { popup: 'tramite-migratorio/'+ tramiteMigratorio.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="tramiteMigratorios && tramiteMigratorios.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
