<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myClienteLabel" jhiTranslate="debidadefensaApp.cliente.home.createOrEditLabel">Create or edit a Cliente</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <!--<div class="form-group" [hidden]="!cliente.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="cliente.id" readonly />
        </div>-->
        <div class="form-group row">
            <label class="form-control-label col-md-2 text-right" jhiTranslate="debidadefensaApp.cliente.nombre" for="field_nombre" >Nombre</label>
            <input type="text" class="form-control col-md-10" name="nombre" maxlength="250" id="field_nombre" required
                [(ngModel)]="cliente.nombre" />
        </div>
        <div class="form-group row">
            <label class="form-control-label col-md-2 text-right" for="field_telefonos">Teléfono(s)</label>
            <input type="tel" class="form-control col-md-10" name="telefonos" maxlength="250"  id="field_telefonos" required
                [(ngModel)]="cliente.telefonos" />
        </div>
        <div class="form-group row">
            <label class="form-control-label col-md-2 text-right" for="field_correoElectronico">Correo Electrónico</label>
            <input type="email" class="form-control col-md-10" name="correoElectronico" maxlength="250"  id="field_correoElectronico"
                [(ngModel)]="cliente.correoElectronico" email />
        </div>
        <div class="form-group row">
            <label class="form-control-label col-md-2 text-right" jhiTranslate="debidadefensaApp.cliente.domicilio" for="field_domicilio">Domicilio</label>
            <input type="text" class="form-control col-md-10" name="domicilio" maxlength="250"  id="field_domicilio" style="min-height: 100px !important"
                [(ngModel)]="cliente.domicilio" />
        </div>
        <div class="form-group row">
            <label class="form-control-label col-md-2 text-right" for="field_rfc">R.F.C.</label>
            <input type="text" class="form-control col-md-10" name="rfc" maxlength="250"  id="field_rfc"
                [(ngModel)]="cliente.rfc" />
        </div>
        <div class="form-group row">
            <label class="form-control-label col-md-2 text-right" jhiTranslate="debidadefensaApp.cliente.referencia" for="field_referencia">Referencia</label>
            <input type="text" class="form-control col-md-10" name="referencia" maxlength="250"  id="field_referencia"
                [(ngModel)]="cliente.referencia" />
        </div>

        <div class="form-group row" [hidden]="!cliente.id">            
            <label class="form-control-label col-2 text-right" for="field_referencia">Trámites Migratorios</label>
            <td class="form-control-label col-2 text-left"><a (click)="goPlaces(cliente.id, 1)"><span>{{cliente.totalMigratorios}}</span>  </a></td>
            <label class="form-control-label col-2 text-right" for="field_referencia">Trámites Generales</label>
            <td class="form-control-label col-2 text-left"><a (click)="goPlaces(cliente.id, 2)"><span>{{cliente.totalGenerales}}</span>  </a></td>
            <label class="form-control-label col-2 text-right" for="field_referencia">Expedientes</label>
            <td class="form-control-label col-2 text-left"><a (click)="goPlaces(cliente.id, 3)"><span>{{cliente.totalExpediente}}</span> </a></td> 
        </div>

    </div>
    
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
