<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myExpedienteLabel" jhiTranslate="debidadefensaApp.expediente.home.createOrEditLabel">Create or edit a Expediente</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!expediente.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="expediente.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="debidadefensaApp.expediente.juzgado" for="field_juzgado">Juzgado</label>
            <input type="text" class="form-control" name="juzgado" id="field_juzgado"
                [(ngModel)]="expediente.juzgado" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="debidadefensaApp.expediente.numeroExpediente" for="field_numeroExpediente">Numero Expediente</label>
            <input type="text" class="form-control" name="numeroExpediente" id="field_numeroExpediente"
                [(ngModel)]="expediente.numeroExpediente" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="debidadefensaApp.expediente.juicio" for="field_juicio">Juicio</label>
            <input type="text" class="form-control" name="juicio" id="field_juicio"
                [(ngModel)]="expediente.juicio" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="debidadefensaApp.expediente.responsable" for="field_responsable">Responsable</label>
            <input type="text" class="form-control" name="responsable" id="field_responsable"
                [(ngModel)]="expediente.responsable" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="debidadefensaApp.expediente.archivo" for="field_archivo">Archivo</label>
            <input type="text" class="form-control" name="archivo" id="field_archivo"
                [(ngModel)]="expediente.archivo" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="debidadefensaApp.expediente.observaciones" for="field_observaciones">Observaciones</label>
            <input type="text" class="form-control" name="observaciones" id="field_observaciones"
                [(ngModel)]="expediente.observaciones" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="debidadefensaApp.expediente.fechaAlta" for="field_fechaAlta">Fecha Alta</label>
            <div class="d-flex">
                <input id="field_fechaAlta" type="datetime-local" class="form-control" name="fechaAlta" [(ngModel)]="expediente.fechaAlta"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="debidadefensaApp.expediente.fechaSentencia" for="field_fechaSentencia">Fecha Sentencia</label>
            <div class="d-flex">
                <input id="field_fechaSentencia" type="datetime-local" class="form-control" name="fechaSentencia" [(ngModel)]="expediente.fechaSentencia"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="debidadefensaApp.expediente.fecPrueba" for="field_fecPrueba">Fec Prueba</label>
            <div class="input-group">
                <input id="field_fecPrueba" type="text" class="form-control" name="fecPrueba" ngbDatepicker  #fecPruebaDp="ngbDatepicker" [(ngModel)]="expediente.fecPrueba"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="fecPruebaDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="debidadefensaApp.expediente.cliente" for="field_cliente">Cliente</label>
            <select class="form-control" id="field_cliente" name="cliente" [(ngModel)]="expediente.clienteId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="clienteOption.id" *ngFor="let clienteOption of clientes; trackBy: trackClienteById">{{clienteOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="debidadefensaApp.expediente.estatusExpediente" for="field_estatusExpediente">Estatus Expediente</label>
            <select class="form-control" id="field_estatusExpediente" name="estatusExpediente" [(ngModel)]="expediente.estatusExpedienteId">
                <option [ngValue]="null"></option>
                <option [ngValue]="estatusOption.id" *ngFor="let estatusOption of estatusexpedientes; trackBy: trackEstatusById">{{estatusOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="debidadefensaApp.expediente.tipoServicio" for="field_tipoServicio">Tipo Servicio</label>
            <select class="form-control" id="field_tipoServicio" name="tipoServicio" [(ngModel)]="expediente.tipoServicioId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="tipoServicioOption.id" *ngFor="let tipoServicioOption of tiposervicios; trackBy: trackTipoServicioById">{{tipoServicioOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
