<div>
    <h2>
        <span jhiTranslate="debidadefensaApp.expediente.home.title">Expedientes</span>
        
        <button class="btn btn-primary float-right jh-create-entity create-expediente" [routerLink]="['/', { outlets: { popup: ['expediente-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="debidadefensaApp.expediente.home.createLabel">
            Create new Expediente
            </span>
        </button>
        <br>
        <span *ngIf="cliente.id">Cliente: {{cliente.nombre}}</span>
    </h2>
    <!--<jhi-alert></jhi-alert>-->
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'debidadefensaApp.expediente.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>        
    </div>
    <br/>
    <div class="table-responsive" *ngIf="expedientes">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="numeroExpediente"><span jhiTranslate="debidadefensaApp.expediente.numeroExpediente">Numero Expediente</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="juzgado"><span jhiTranslate="debidadefensaApp.expediente.juzgado">Juzgado</span> <span class="fa fa-sort"></span></th>
            
            <th jhiSortBy="juicio"><span jhiTranslate="debidadefensaApp.expediente.juicio">Juicio</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="responsable"><span jhiTranslate="debidadefensaApp.expediente.responsable">Responsable</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="observaciones"><span jhiTranslate="debidadefensaApp.expediente.observaciones">Observaciones</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="fechaAlta"><span jhiTranslate="debidadefensaApp.expediente.fechaAlta">Fecha Alta</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="fechaSentencia"><span jhiTranslate="debidadefensaApp.expediente.fechaSentencia">Fecha Sentencia</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="clienteId"><span jhiTranslate="debidadefensaApp.expediente.cliente">Cliente</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="estatusExpedienteId"><span jhiTranslate="debidadefensaApp.expediente.estatusExpediente">Estatus Expediente</span> <span class="fa fa-sort"></span></th>
            
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let expediente of expedientes ;trackBy: trackId">
                <td><a [routerLink]="['/', { outlets: { popup: 'expediente/'+ expediente.id + '/edit'} }]">{{expediente.numeroExpediente}}</a></td>
                <td>{{expediente.juzgado}}</td>
      
                <td>{{expediente.juicio}}</td>
                <td>{{expediente.responsable}}</td>
                <td>{{expediente.observaciones}}</td>
                <td>{{expediente.fechaAlta | date:'mediumDate'}}</td>
                <td>{{expediente.fechaSentencia | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="expediente.clienteId">
                        <a [routerLink]="['/', { outlets: { popup: 'cliente/'+ expediente.clienteId + '/edit'} }]">{{expediente.clienteNombre}}</a>
                        <!--<a [routerLink]="['../cliente', expediente.clienteId  ]" >{{expediente.clienteNombre}}</a>-->
                    </div>
                </td>
                <td>{{expediente.estatusDescripcion}}</td>
              
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                       <!--<button type="submit"
                                [routerLink]="['../expediente', expediente.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>-->
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'expediente/'+ expediente.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'expediente/'+ expediente.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
