<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">        
    <div class="modal-header">
        <h4 class="modal-title" style="font-weight: bold" id="myExpedienteLabel">Crear Expediente</h4>          
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <!--<jhi-alert-error></jhi-alert-error>-->
        <div class="form-group row">
            <label class="form-control-label col-md-2 text-right" jhiTranslate="debidadefensaApp.expediente.cliente" for="field_cliente">Cliente</label>
            <select  [disabled]="expediente.id" class="form-control col-md-10" id="field_cliente" name="cliente" [(ngModel)]="expediente.clienteId" required >
                <option [ngValue]="null"></option>
                <option [ngValue]="clienteOption.id" *ngFor="let clienteOption of clientes; trackBy: trackClienteById">{{clienteOption.nombre}}</option>
            </select>
        </div>
            
        <div class="form-group row">
            <label class="form-control-label col-md-2 text-right" jhiTranslate="debidadefensaApp.expediente.numeroExpediente" for="field_numeroExpediente">Numero Expediente</label>
            <input type="text" class="form-control col-md-10" name="numeroExpediente" id="field_numeroExpediente" maxlength="250" required
                [(ngModel)]="expediente.numeroExpediente" />
        </div>
        <!-- <div class="form-group row" [hidden]="!expediente.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control col-md-10" id="id" name="id"
                   [(ngModel)]="expediente.id" readonly />
        </div> -->
        <div class="form-group row">
            <label class="form-control-label col-md-2 text-right" for="field_estatusExpediente">Estatus</label>
            <select class="form-control col-md-10" id="field_estatusExpediente" name="estatusExpediente" [(ngModel)]="expediente.estatusExpedienteId" required>
                <option [ngValue]="null"></option>
                <option [ngValue]="estatusOption.id" *ngFor="let estatusOption of estatusexpedientes; trackBy: trackEstatusById">{{estatusOption.descripcion}}</option>
            </select>
        </div>
        <div class="form-group row">
            <label class="form-control-label col-md-2 text-right" jhiTranslate="debidadefensaApp.expediente.juzgado" for="field_juzgado">Juzgado</label>
            <input type="text" class="form-control col-md-10" name="juzgado" id="field_juzgado" maxlength="250"
                [(ngModel)]="expediente.juzgado" />
        </div>
        
        <div class="form-group row">
            <label class="form-control-label col-md-2 text-right" jhiTranslate="debidadefensaApp.expediente.juicio" for="field_juicio">Juicio</label>
            <input type="text" class="form-control col-md-10" name="juicio" id="field_juicio" maxlength="250"
                [(ngModel)]="expediente.juicio" />
        </div>
        <div class="form-group row">
            <label class="form-control-label col-md-2 text-right" jhiTranslate="debidadefensaApp.expediente.responsable" for="field_responsable">Responsable</label>
            <input type="text" class="form-control col-md-10" name="responsable" id="field_responsable" maxlength="250"
                [(ngModel)]="expediente.responsable" />
        </div>
        <div class="form-group row">
            <label class="form-control-label col-md-2 text-right" jhiTranslate="debidadefensaApp.expediente.observaciones" for="field_observaciones">Observaciones</label>
            <input type="text" class="form-control col-md-10" name="observaciones" id="field_observaciones" maxlength="250"
                [(ngModel)]="expediente.observaciones" />
        </div>
        <div class="form-group row">            
            <label class="form-control-label col-md-2 text-right" jhiTranslate="debidadefensaApp.expediente.fechaAlta" for="field_fechaAlta">Fecha Alta</label>
            <div class="input-group col-md-3" style="padding-left: 0px; padding-right: 0px;">
                <input id="field_fechaAlta" type="date"  style="font-size: 12px" class="form-control" name="fechaAlta" dateFormat="dd-MM-yyyy" ngbDatepicker  #fechaAltaDp="ngbDatepicker" 
                [(ngModel)]="expediente.fechaAlta"/>
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="fechaAltaDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <label class="form-control-label col-md-2 text-right" jhiTranslate="debidadefensaApp.expediente.fechaSentencia" for="field_fechaSentencia">Fecha Sentencia</label>
            <div class="input-group col-md-3" style="padding-left: 0px; padding-right: 0px;">
                <input id="field_fechaSentencia" type="date"   style="font-size: 12px" class="form-control" name="fechaSentencia" dateFormat="dd-MM-yyyy" ngbDatepicker  #fechaSentenciaDp="ngbDatepicker" 
                [(ngModel)]="expediente.fechaSentencia" [minDate]="expediente.fechaAlta" />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="fechaSentenciaDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>            
        </div>
        <!--<div class="form-group">
            <label class="form-control-label" jhiTranslate="debidadefensaApp.expediente.tipoServicio" for="field_tipoServicio">Tipo Servicio</label>
            <select class="form-control" id="field_tipoServicio" name="tipoServicio" [(ngModel)]="expediente.tipoServicioId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="tipoServicioOption.id" *ngFor="let tipoServicioOption of tiposervicios; trackBy: trackTipoServicioById">{{tipoServicioOption.id}}</option>
            </select>
        </div>-->        
    
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
