<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
        <div class="modal-header">
            <h4 class="modal-title" style="font-weight: bold" id="myExpedienteLabel">Editar Expediente</h4>            
        </div>
        <jhi-alert></jhi-alert>
        <div class="modal-body">
            <!--<jhi-alert-error></jhi-alert-error>-->
            <div class="form-group row">
                <label class="form-control-label col-md-2 text-right" jhiTranslate="debidadefensaApp.expediente.cliente" for="field_cliente">Cliente</label>
                <select  [disabled]="expediente.id" class="form-control col-md-10" id="field_cliente" name="cliente" [(ngModel)]="expediente.clienteId" >
                    <option [ngValue]="null"></option>
                    <option [ngValue]="clienteOption.id" *ngFor="let clienteOption of clientes; let i = index">{{clienteOption.nombre}}</option>
                </select>
            </div>
                
            <div class="form-group row">
                <label class="form-control-label col-md-2 text-right" jhiTranslate="debidadefensaApp.expediente.numeroExpediente" for="field_numeroExpediente">Número Expediente</label>
                <input type="text" class="form-control col-md-10" name="numeroExpediente" id="field_numeroExpediente"
                    [(ngModel)]="expediente.numeroExpediente" />
            </div>
            <!-- <div class="form-group row" [hidden]="!expediente.id">
                <label for="id" jhiTranslate="global.field.id">ID</label>
                <input type="text" class="form-control col-md-10" id="id" name="id"
                       [(ngModel)]="expediente.id" readonly />
            </div> -->
            <div class="form-group row">
                <label class="form-control-label col-md-2 text-right" jhiTranslate="debidadefensaApp.expediente.juzgado" for="field_juzgado">Juzgado</label>
                <input type="text" class="form-control col-md-10" name="juzgado" id="field_juzgado"
                    [(ngModel)]="expediente.juzgado" />
            </div>
            
            <div class="form-group row">
                <label class="form-control-label col-md-2 text-right" jhiTranslate="debidadefensaApp.expediente.juicio" for="field_juicio">Juicio</label>
                <input type="text" class="form-control col-md-10" name="juicio" id="field_juicio"
                    [(ngModel)]="expediente.juicio" />
            </div>
            <div class="form-group row">
                <label class="form-control-label col-md-2 text-right" jhiTranslate="debidadefensaApp.expediente.responsable" for="field_responsable">Responsable</label>
                <input type="text" class="form-control col-md-10" name="responsable" id="field_responsable"
                    [(ngModel)]="expediente.responsable" />
            </div>
            <div class="form-group row">
                <label class="form-control-label col-md-2 text-right" jhiTranslate="debidadefensaApp.expediente.observaciones" for="field_observaciones">Observaciones</label>
                <input type="text" class="form-control col-md-10" name="observaciones" id="field_observaciones"
                    [(ngModel)]="expediente.observaciones" />
            </div>
            <div class="form-group row">            
                <label class="form-control-label col-md-2 text-right" jhiTranslate="debidadefensaApp.expediente.fechaAlta" for="field_fechaAlta">Fecha Alta</label>
                <div class="input-group col-md-2">
                    <input id="field_fechaAlta" type="date" class="form-control" name="fechaAlta"  dateFormat="dd-MM-yyyy" ngbDatepicker  #fechaAltaDp="ngbDatepicker" [(ngModel)]="expediente.fechaAlta"/>
                    <span class="input-group-append">
                        <button type="button" class="btn btn-secondary" (click)="fechaAltaDp.toggle()"><i class="fa fa-calendar"></i></button>
                    </span>
                </div>
                <label class="form-control-label col-md-2 text-right" jhiTranslate="debidadefensaApp.expediente.fechaSentencia" for="field_fechaSentencia">Fecha Sentencia</label>
                <div class="input-group col-md-2">
                    <input id="field_fechaSentencia" type="date" class="form-control" name="fechaSentencia" dateFormat="dd-MM-yyyy" ngbDatepicker  #fechaSentenciaDp="ngbDatepicker" [(ngModel)]="expediente.fechaSentencia"/>
                    <span class="input-group-append">
                        <button type="button" class="btn btn-secondary" (click)="fechaSentenciaDp.toggle()"><i class="fa fa-calendar"></i></button>
                    </span>
                </div>            
            </div>
            
            <div class="form-group row">
                <label class="form-control-label col-md-2 text-right"  for="field_estatusExpediente">Estatus</label>
                <select class="form-control col-md-10" id="field_estatusExpediente" name="estatusExpediente" [(ngModel)]="expediente.estatusExpedienteId">
                    <option [ngValue]="null"></option>
                    <option [ngValue]="estatusOption.id" *ngFor="let estatusOption of estatusexpedientes; trackBy: trackEstatusById">{{estatusOption.descripcion}}</option>
                </select>
            </div>
            <!--<div class="form-group">
                <label class="form-control-label" jhiTranslate="debidadefensaApp.expediente.tipoServicio" for="field_tipoServicio">Tipo Servicio</label>
                <select class="form-control" id="field_tipoServicio" name="tipoServicio" [(ngModel)]="expediente.tipoServicioId" >
                    <option [ngValue]="null"></option>
                    <option [ngValue]="tipoServicioOption.id" *ngFor="let tipoServicioOption of tiposervicios; trackBy: trackTipoServicioById">{{tipoServicioOption.id}}</option>
                </select>
            </div>-->   

            <!--ARCHIVOS-->
            <div class="form-group row" style="border-top:1px solid #474a63; padding-top: 20px">            
                <div class="row col-md-12 text-center" style="margin-right: 0px; margin-left: 0px;"> 
                    <div class="col-md-12" style="height: 40px;">
                        <span class="col-md-12 text-center label-title">DOCUMENTOS</span>       
                        <button class="btn btn-secondary btn-sm" type="button"                                
                            [routerLink]="['/', { outlets: { popup: 'documentos-new/' + expediente.id + '/' + tipoServicio + '/' + expediente.clienteId } }]">
                            <span class="fa fa-plus"></span>
                            
                        </button>
                    </div>
                </div>
                <div class="row col-md-12 text-center" style="margin-right: 0px; margin-left: 0px;">
                    <div class="table-responsive" *ngIf="documentos">
                        <table class="table table-striped">
                            <thead>
                            <tr>                            
                            <th><span >Nombre</span></th>
                            <th><span jhiTranslate="debidadefensaApp.documentos.fecha">Fecha</span></th>
                            <th><span jhiTranslate="debidadefensaApp.documentos.descripcion">Descripción</span></th>                            
                            <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let documentos of documentos ;let i = index">                                
                                <td>{{documentos.nombreDocumento}}</td>
                                <td>{{documentos.fecha | date:'mediumDate'}}</td>
                                <td>{{documentos.descripcion}}</td>                                
                                <td class="text-right">
                                    <div class="btn-group flex-btn-group-container">                                  
                                        <button type="button" (click)="getFile(documentos.nombreDocumento, expediente.clienteId, tipoServicio)"
                                                class="btn btn-primary btn-sm">
                                            <span class="fa fa-download"></span>
                                            <span class="d-none d-md-inline" >Descargar</span>
                                        </button>
                                        <button type="button"
                                                [routerLink]="['/', { outlets: { popup: 'documentos/'+ documentos.id + '/' + expediente.clienteId + '/' + expediente.id + '/delete'} }]"
                                                replaceUrl="true"
                                                queryParamsHandling="merge"
                                                class="btn btn-danger btn-sm">
                                            <span class="fa fa-remove"></span>
                                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- PARTES-->
            <div class="form-group row" style="border-top:1px solid #474a63; padding-top: 20px">            
                <div class="row col-md-12 text-center" style="margin-right: 0px; margin-left: 0px;">  
                    <div class="col-md-12" style="height: 40px;">
                        <span class="col-md-12 text-center label-title">PARTES</span>       
                        <button class="btn btn-secondary btn-sm"  type="button"                                 
                                [routerLink]="['/', { outlets: { popup: 'parte-new/' + expediente.id} }]">
                            <span class="fa fa-plus"></span>
                            
                        </button>
                    </div>
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr> 
                                        <th><span jhiTranslate="debidadefensaApp.parte.tipoParte">Tipo Parte</span></th>                               
                                        <th><span jhiTranslate="debidadefensaApp.parte.nombre">Nombre</span></th> 
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let parte of partes ;let i = index">                                    
                                    <td>{{parte.tipoParteNombre}}</td>
                                    <td>{{parte.nombre}}</td>                                   
                                    <td class="text-right">
                                        <div class="btn-group flex-btn-group-container">                                            
                                            <button type="button"
                                                    [routerLink]="['/', { outlets: { popup: 'parte/'+ parte.id + '/delete'} }]"
                                                    replaceUrl="true"
                                                    queryParamsHandling="merge"
                                                    class="btn btn-danger btn-sm">
                                                <span class="fa fa-remove"></span>
                                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!-- COSTOS Y PAGOS -->
            <div *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_DIRECTOR']" class="form-group row" style="border-top: 1px solid #474a63; padding-top: 20px">
                <div class="row col-md-12 text-center" style="margin-right: 0px; margin-left: 0px;">
                    <div class="col-md-12" style="height: 40px;">
                        <span class="text-center label-title">COSTOS Y PAGOS</span>
                        <button type="button" 
                                [routerLink]="['../costo-servicio', expediente.id, tipoServicio  ]"      
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-secondary btn-sm">
                            <span class="fa fa-plus"></span>                
                        </button>                   
                    </div>                 
                    <div class="row col-md-4">
                        <h4 class="form-control-label col-md-8 text-right" >Costos Totales</h4>
                        <h4 class="form-control-label col-md-4 text-left">{{totalCostos}}</h4>
                    </div>
                    <div class="row col-md-4">
                        <h4 class="form-control-label col-md-8 text-right" >Pagos Totales</h4>
                        <h4 class="form-control-label col-md-4 text-left" >{{totalPagos}}</h4>
                    </div>
                    <div class="row col-md-4">
                        <h4 class="form-control-label col-md-8 text-right" >Deuda Total</h4>
                        <h4 class="form-control-label col-md-4 text-left" >{{totalCostos - totalPagos}}</h4>
                    </div> 
                     
                </div>
            </div>          
    
            <!-- Asociaciones y Fechas -->
            <div class="form-group row" style="border-top:1px solid #474a63; padding-top: 20px">            
                <div class="row col-md-6 text-center" style="margin-right: 0px; margin-left: 0px;">  
                    <div class="col-md-12" style="height: 40px;">
                        <span class="col-md-12 text-center label-title">EXPEDIENTES ASOCIADOS</span>       
                        <button class="btn btn-secondary btn-sm"  type="button"  
                                [routerLink]="['/', { outlets: { popup: 'expediente-asociado-new/' + expediente.id} }]">
                            <span class="fa fa-plus"></span>
                            
                        </button>
                    </div>
                    <div class="col-md-12">
                        <div class="table-responsive">
                                <table class="table table-striped">
                                        <thead>
                                        <tr>                                        
                                            <th><span jhiTranslate="debidadefensaApp.expedienteAsociado.numeroExpediente">Numero Expediente</span></th>
                                            <th><span jhiTranslate="debidadefensaApp.expedienteAsociado.instancia">Instancia</span></th>
                                            <th><span >Órgano Competente</span></th>    
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let expedienteAsociado of expedienteAsociados ;let i = index">                                            
                                            <td>{{expedienteAsociado.numeroExpediente}}</td>
                                            <td>{{expedienteAsociado.instancia}}</td>
                                            <td>{{expedienteAsociado.organocompetente}}</td>
                                            <td class="text-right">
                                                <div class="btn-group flex-btn-group-container">                                                   
                                                    <button type="button"
                                                            [routerLink]="['/', { outlets: { popup: 'expediente-asociado/'+ expedienteAsociado.id + '/edit'} }]"
                                                            replaceUrl="true"
                                                            queryParamsHandling="merge"
                                                            class="btn btn-primary btn-sm">
                                                        <span class="fa fa-pencil"></span>
                                                        <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                                    </button>
                                                    <button type="button" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_DIRECTOR']"
                                                            [routerLink]="['/', { outlets: { popup: 'expediente-asociado/'+ expedienteAsociado.id + '/delete'} }]"
                                                            replaceUrl="true"
                                                            queryParamsHandling="merge"
                                                            class="btn btn-danger btn-sm">
                                                        <span class="fa fa-remove"></span>
                                                        <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                </table>
                        </div>
                    </div>
                </div>
                <div class="row col-md-6 text-center" style="margin-right: 0px; margin-left: 0px;">
                    <div class="col-md-12" style="height: 40px;">
                        <span class="text-center label-title">FECHAS DE SERVICIO</span>
                        <button class="btn btn-secondary btn-sm"  type="button"
                                [routerLink]="['/', { outlets: { popup: 'fechas-servicio-newby/' + expediente.id + '/' + tipoServicio } }]">
                            <span class="fa fa-plus"></span>                        
                        </button>
                    </div>
                    <div class="table-responsive" >
                            <table class="table table-striped">
                                <thead>
                                <tr>   
                                    <th><span jhiTranslate="debidadefensaApp.fechasServicio.fecha">Fecha</span></th>
                                    <th><span>Hora</span></th> 
                                    <th><span jhiTranslate="debidadefensaApp.fechasServicio.descripcion">Descripción</span></th>                            
                                    <th><span jhiTranslate="debidadefensaApp.fechasServicio.observaciones">Observacion</span></th>                            
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let fechasServicio of fechasServicios ;let i = index">
                                    <td>{{fechasServicio.fecha | date:'dd/MM/yyyy'}}</td>             
                                    <td>{{fechasServicio.fecha | date:'HH:mm'}}</td> 
                                    <td>{{fechasServicio.descripcion}}</td>                                
                                    <td>{{fechasServicio.observaciones}}</td>      
                                    <td class="text-right">
                                        <div class="btn-group flex-btn-group-container">    
                                            <button type="button"
                                                    [routerLink]="['/', { outlets: { popup: 'fechas-servicio/'+ fechasServicio.id + '/edit'} }]"
                                                    replaceUrl="true"
                                                    queryParamsHandling="merge"
                                                    class="btn btn-primary btn-sm">
                                                <span class="fa fa-pencil"></span>
                                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                            </button>                                  
                                            <button type="button"
                                                    [routerLink]="['/', { outlets: { popup: 'fechas-servicio/'+ fechasServicio.id + '/delete'} }]"
                                                    replaceUrl="true"
                                                    queryParamsHandling="merge"
                                                    class="btn btn-danger btn-sm">
                                                <span class="fa fa-remove"></span>
                                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                </div>
            </div>
        
        </div>
        <div class="modal-footer">
            <button type="button"      
                    [routerLink]="['/expediente-usuario', expediente.clienteId ]"
                    class="btn btn-info">            
                <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>
            
            <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
            </button>
        </div>
    </form>
    