<div class="row">
    <div class="col-md-5">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div  class="col-md-7" >      
        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                    <h2 class="display-4" jhiTranslate="home.title">Welcome, Java Hipster!</h2>
                    <h2 *ngIf="account" >{{account.login}} - {{account.firstName}} {{account.lastName}} </h2>
            </div>
        </div>        
    </div>
</div>
