<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" style="font-weight: bold" id="myDocumentosLabel" >Documentos</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <!--<div class="form-group" [hidden]="!documentos.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="documentos.id" readonly />
        </div>
        <div class="form-group row">
            <label class="form-control-label col-md-2 text-right" jhiTranslate="debidadefensaApp.documentos.nombreDocumento" for="field_nombreDocumento">Nombre Documento</label>
            <input type="text" class="form-control col-md-10" name="nombreDocumento" id="field_nombreDocumento"
                [(ngModel)]="documentos.nombreDocumento" />
        </div>-->
        <div class="form-group row">
            <label class="form-control-label col-md-2 text-right" jhiTranslate="debidadefensaApp.documentos.fecha" for="field_fecha">Fecha</label>
            <div class="input-group col-md-10" style="padding-left: 0px; padding-right: 0px">
                <input id="field_fecha" type="text" class="form-control" name="fecha" ngbDatepicker dateFormat="dd-MM-yyyy" #fechaDp="ngbDatepicker" [(ngModel)]="documentos.fecha" required
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="fechaDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group row">
            <label class="form-control-label col-md-2 text-right" for="field_descripcion">Descripción</label>
            <input type="text" class="form-control col-md-10" name="descripcion" id="field_descripcion" required
                [(ngModel)]="documentos.descripcion" />
        </div>
        <div class="input-group">
            <label class="input-group-btn col-md-2">
                <span class="btn btn-primary">
                    Seleccionar archivo <input type="file" id="file"
                    (change)="handleFileInput($event.target.files)" 
                    style="display: none;">
                </span>
            </label>
            <input type="text" class="form-control col-md-6" name="nombreDocumento" id="field_nombreDocumento"
                [(ngModel)]="documentos.nombreDocumento" readonly required/>            
        </div>
       
        <!--<div class="form-group">
            <label class="form-control-label" jhiTranslate="debidadefensaApp.documentos.ruta" for="field_ruta">Ruta</label>
            <input type="text" class="form-control" name="ruta" id="field_ruta"
                [(ngModel)]="documentos.ruta" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="debidadefensaApp.documentos.expediente" for="field_expediente">Expediente</label>
            <select class="form-control" id="field_expediente" name="expediente" [(ngModel)]="documentos.expedienteId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="expedienteOption.id" *ngFor="let expedienteOption of expedientes; trackBy: trackExpedienteById">{{expedienteOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="debidadefensaApp.documentos.expedienteAsociado" for="field_expedienteAsociado">Expediente Asociado</label>
            <select class="form-control" id="field_expedienteAsociado" name="expedienteAsociado" [(ngModel)]="documentos.expedienteAsociadoId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="expedienteAsociadoOption.id" *ngFor="let expedienteAsociadoOption of expedienteasociados; trackBy: trackExpedienteAsociadoById">{{expedienteAsociadoOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="debidadefensaApp.documentos.tramiteMigratorio" for="field_tramiteMigratorio">Tramite Migratorio</label>
            <select class="form-control" id="field_tramiteMigratorio" name="tramiteMigratorio" [(ngModel)]="documentos.tramiteMigratorioId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="tramiteMigratorioOption.id" *ngFor="let tramiteMigratorioOption of tramitemigratorios; trackBy: trackTramiteMigratorioById">{{tramiteMigratorioOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="debidadefensaApp.documentos.tramiteGeneral" for="field_tramiteGeneral">Tramite General</label>
            <select class="form-control" id="field_tramiteGeneral" name="tramiteGeneral" [(ngModel)]="documentos.tramiteGeneralId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="tramiteGeneralOption.id" *ngFor="let tramiteGeneralOption of tramitegenerals; trackBy: trackTramiteGeneralById">{{tramiteGeneralOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="debidadefensaApp.documentos.tipoServicio" for="field_tipoServicio">Tipo Servicio</label>
            <select class="form-control" id="field_tipoServicio" name="tipoServicio" [(ngModel)]="documentos.tipoServicioId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="tipoServicioOption.id" *ngFor="let tipoServicioOption of tiposervicios; trackBy: trackTipoServicioById">{{tipoServicioOption.id}}</option>
            </select>
        </div>-->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
