<div>
    <h2>
        <span jhiTranslate="debidadefensaApp.pagos.home.title">Pagos</span>
        <button class="btn btn-primary float-right jh-create-entity create-pagos" [routerLink]="['/', { outlets: { popup: ['pagos-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="debidadefensaApp.pagos.home.createLabel">
            Create new Pagos
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'debidadefensaApp.pagos.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="pagos">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="debidadefensaApp.pagos.cantidad">Cantidad</span></th>
            <th><span jhiTranslate="debidadefensaApp.pagos.fecha">Fecha</span></th>
            <th><span jhiTranslate="debidadefensaApp.pagos.formaPago">Forma Pago</span></th>
            <th><span jhiTranslate="debidadefensaApp.pagos.tipoAbono">Tipo Abono</span></th>
            <th><span jhiTranslate="debidadefensaApp.pagos.expediente">Expediente</span></th>
            <th><span jhiTranslate="debidadefensaApp.pagos.tramiteMigratorio">Tramite Migratorio</span></th>
            <th><span jhiTranslate="debidadefensaApp.pagos.tramiteGeneral">Tramite General</span></th>
            <th><span jhiTranslate="debidadefensaApp.pagos.tipoServicio">Tipo Servicio</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pagos of pagos ;trackBy: trackId">
                <td><a [routerLink]="['../pagos', pagos.id ]">{{pagos.id}}</a></td>
                <td>{{pagos.cantidad}}</td>
                <td>{{pagos.fecha | date:'mediumDate'}}</td>
                <td>{{pagos.formaPago}}</td>
                <td>{{pagos.tipoAbono}}</td>
                <td>
                    <div *ngIf="pagos.expedienteId">
                        <a [routerLink]="['../expediente', pagos.expedienteId  ]" >{{pagos.expedienteId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="pagos.tramiteMigratorioId">
                        <a [routerLink]="['../tramite-migratorio', pagos.tramiteMigratorioId  ]" >{{pagos.tramiteMigratorioId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="pagos.tramiteGeneralId">
                        <a [routerLink]="['../tramite-general', pagos.tramiteGeneralId  ]" >{{pagos.tramiteGeneralId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="pagos.tipoServicioId">
                        <a [routerLink]="['../tipo-servicio', pagos.tipoServicioId  ]" >{{pagos.tipoServicioId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <!--<button type="submit"
                                [routerLink]="['../pagos', pagos.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>-->
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'pagos/'+ pagos.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'pagos/'+ pagos.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
